$pixelSize: 5px;

/* row positioning */
.row0 {
    top: $pixelSize * 0; 
}
.row1 {
    top: $pixelSize * 1; 
}
.row2 {
    top: $pixelSize * 2;
}
.row3 {
    top: $pixelSize * 3; 
}
.row4 {
    top: $pixelSize * 4; 
} 
.row5 {
    top: $pixelSize * 5; 
}
.row6 {
    top: $pixelSize * 6; 
}
.row7 {
    top: $pixelSize * 7; 
}
.row8 {
    top: $pixelSize * 8; 
}
.row9 {
    top: $pixelSize * 9; 
}
.row10 {
    top: $pixelSize * 10; 
}
.row11 {
    top: $pixelSize * 11; 
}
.row12 {
    top: $pixelSize * 12; 
}
.row13 {
    top: $pixelSize * 13; 
}
.row14 {
    top: $pixelSize * 14; 
}
.row15 {
    top: $pixelSize * 15; 
}
.row16 {
    top: $pixelSize * 16; 
}
.row17 {
    top: $pixelSize * 17; 
}
.row18 {
    top: $pixelSize * 18; 
}
.row19 {
    top: $pixelSize * 19; 
}
.row20 {
    top: $pixelSize * 20; 
}
.row21 {
    top: $pixelSize * 21; 
}
.row22 {
    top: $pixelSize * 22; 
}
.row23 {
    top: $pixelSize * 23; 
}
.row24 {
    top: $pixelSize * 24; 
}
.row25 {
    top: $pixelSize * 25; 
}
.row26 {
    top: $pixelSize * 26; 
}
.row27 {
    top: $pixelSize * 27; 
}
.row28 {
    top: $pixelSize * 28; 
}
.row29 {
    top: $pixelSize * 29; 
}
.row30 {
    top: $pixelSize * 30; 
}
.row31 {
    top: $pixelSize * 31; 
}
.row32 {
    top: $pixelSize * 32; 
}
.row33 {
    top: $pixelSize * 33; 
}
.row34 {
    top: $pixelSize * 34; 
}
.row35 {
    top: $pixelSize * 35; 
}
.row36 {
    top: $pixelSize * 36; 
}
.row37 {
    top: $pixelSize * 37; 
}
.row38 {
    top: $pixelSize * 38; 
}


/* column positioning */
.column0 {
    left: $pixelSize * 0; 
}
.column1 {
    left: $pixelSize * 1; 
}
.column2 {
    left: $pixelSize * 2; 
}
.column3 {
    left: $pixelSize * 3; 
}
.column4 {
    left: $pixelSize * 4; 
}
.column5 {
    left: $pixelSize * 5; 
}
.column6 {
    left: $pixelSize * 6; 
}
.column7 {
    left: $pixelSize * 7; 
}
.column8 {
    left: $pixelSize * 8; 
}
.column9 {
    left: $pixelSize * 9; 
}
.column10 {
    left: $pixelSize * 10; 
}
.column11 {
    left: $pixelSize * 11; 
}
.column12 {
    left: $pixelSize * 12; 
}
.column13 {
    left: $pixelSize * 13; 
}
.column14 {
    left: $pixelSize * 14; 
}
.column15 {
    left: $pixelSize * 15; 
}
.column16 {
    left: $pixelSize * 16; 
}
.column17 {
    left: $pixelSize * 17; 
}
.column18 {
    left: $pixelSize * 18; 
}
.column19 {
    left: $pixelSize * 19; 
}
.column20 {
    left: $pixelSize * 20; 
}
.column21 {
    left: $pixelSize * 21; 
}
.column22 {
    left: $pixelSize * 22; 
}
.column23 {
    left: $pixelSize * 23; 
}
.column24 {
    left: $pixelSize * 24; 
}
.column25 {
    left: $pixelSize * 25; 
}
.column26 {
    left: $pixelSize * 26; 
}
.column27 {
    left: $pixelSize * 27; 
}
.column28 {
    left: $pixelSize * 28; 
}
.column29 {
    left: $pixelSize * 29; 
}
.column30 {
    left: $pixelSize * 30; 
}
.column31 {
    left: $pixelSize * 31; 
}
.column32 {
    left: $pixelSize * 32; 
}
.column33 {
    left: $pixelSize * 33; 
}
.column34 {
    left: $pixelSize * 34; 
}
.column35 {
    left: $pixelSize * 35; 
}
.column36 {
    left: $pixelSize * 36; 
}
.column37 {
    left: $pixelSize * 37; 
}
.column38 {
    left: $pixelSize * 38; 
}
.column39 {
    left: $pixelSize * 39; 
}
.column40 {
    left: $pixelSize * 40; 
}
.column41 {
    left: $pixelSize * 41; 
}
.column42 {
    left: $pixelSize * 42; 
}
.column43 {
    left: $pixelSize * 43; 
}


/* player styles */
.player, .goalie, .enforcer {
  position: relative;
  
    span.pixel {
        width: $pixelSize;
        height: $pixelSize;
        position: absolute;
    }

    .black {
        background-color: #222;
    }

    .shade {
        background-color: #222;
        filter: alpha(opacity=20);
        opacity: 0.2;
    }

    .skin {
        background-color: #D78f99;
    }

    &.lightSkin {

        .skin {
            background-color: #D78f99;
        }
    }

    &.mediumSkin {

        .skin {
            background-color: #B67555;
        }
    }

    &.darkSkin {

        .skin {
            background-color: #462C29;
        }
        .eyes {
            background-color: #000;
        }
    }

    .eyes {
        background-color: #670109;
    }

    .stick {
        background-color: #D8905D; 
    }

    .ice {
        background-color: #4A90A7;
    } 
}

.player {
    &.left {
        
    }

    &.right {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

.goalie {
    &.left {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";        
    }

    &.right {
        
    }
}

.enforcer {

    &.left {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";        
    }

    &.right {
        
    }
}


/* star styles */
.star {
    position: relative;

    span.pixel {
        width: $pixelSize;
        height: $pixelSize;
        position: absolute;
    }

    .outline {
        background-color: #021951;
    }

    .ice {
        background-color: #8CEFEA;
    }

    .glare {
        background-color: #FFF;
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
}

/* numberAndPosition styles */
.numberAndPosition {
    position: absolute;
    font-family: 'nhl_94regular';
    color: #777;
    font-weight: normal;
    font-size: 24px;
    text-shadow: 1px 1px 0px #222;
    text-align: center;
    width: 100%;
    bottom: 14px;
}

.playerWrap.enforcer_type,
.playerWrapThree.enforcer_type {
    height: 246px !important;
    margin-top: -35px !important;
    padding-top: 0 !important;
}

.enforcer_type .star {
    top: 30px;
}

@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){
    .playerWrap.enforcer_type,
    .playerWrapThree.enforcer_type {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 640px) {
    .playerWrap.enforcer_type,
    .playerWrapThree.enforcer_type {
        margin-top: 0 !important;
    }
}

/* Jersey Colors */

/* - ANAHEIM DUCKS */
.anaheimducks {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #EE5200;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #A77345;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #1A0809;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #A77345;
        }
        .uniform-pants {
            background-color: #1A0809; 
        }
        .uniform-helmet {
            background-color: #1A0809; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #A77345;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #A77345;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #EE5200;
        }
        .uniform-pants {
            background-color: #1A0809; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - BOSTON BRUINS */
.bostonbruins {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #FFBB00;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #333333;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #FFBB00;
        }
        .uniform-pants {
            background-color: #333333; 
        }
        .uniform-helmet {
            background-color: #333333; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #FFBB00;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #FFBB00;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #333333;
        }
        .uniform-pants {
            background-color: #333333; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - BUFFALO SABRES */
.buffalosabres {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #FFBD14;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #132558;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #132558;
        }
        .uniform-pants {
            background-color: #132558; 
        }
        .uniform-helmet {
            background-color: #132558; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #132558;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #FFBD14;
        }
        .uniform-pants {
            background-color: #132558; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - CALGARY FLAMES - */
.calgaryflames {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #c00000;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #F5C000;
        }
        .uniform-pants {
            background-color: #c00000; 
        }
        .uniform-helmet {
            background-color: #c00000; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #F5C000;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #c00000;
        }
        .uniform-pants {
            background-color: #c00000; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - CAROLINA HURRICANES - */
.carolinahurricanes {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #C50013;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #333333;
        }
        .uniform-pants {
            background-color: #C50013; 
        }
        .uniform-helmet {
            background-color: #C50013; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #333333;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #C50013;
        }
        .uniform-pants {
            background-color: #C50013; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - CHICAGO BLACKHAWKS - */
.chicagoblackhawks {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #B60000;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #333;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #333; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #333;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #B60000;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - COLORADO AVALANCHE - */
.coloradoavalanche {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #D8D8D8;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #3E7EAE;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #98012E;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #3E7EAE;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #333; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #3E7EAE;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #3E7EAE;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #98012E;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - COLUMBUS BLUE JACKETS - */
.columbusbluejackets {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #002354;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #C30000;
        }
        .uniform-pants {
            background-color: #C30000; 
        }
        .uniform-helmet {
            background-color: #002354; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #C30000;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #002354;
        }
        .uniform-pants {
            background-color: #C30000; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - DALLAS STARs - */
.dallasstars {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #03683E;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #03683E;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #333; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #03683E;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #03683E;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - DETROIT RED WINGS - */
.detroitredwings {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #D8D8D8;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #B0B4B0;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #AE0517;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #AE0517;
        }
        .uniform-pants {
            background-color: #AE0517; 
        }
        .uniform-helmet {
            background-color: #AE0517; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #AE0517;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #AE0517;
        }
        .uniform-pants {
            background-color: #AE0517; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - EDMONTON OILERS - */
.edmontonoilers {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #032D70;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #E65806;
        }
        .uniform-pants {
            background-color: #032D70; 
        }
        .uniform-helmet {
            background-color: #032D70; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E65806;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #032D70;
        }
        .uniform-pants {
            background-color: #032D70; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - FLORIDA PANTHERS - */
.floridapanthers {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #FCA100;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #FCA100;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #C20020;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #080D57;
        }
        .uniform-pants {
            background-color: #080D57; 
        }
        .uniform-helmet {
            background-color: #080D57; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #FCA100;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #FCA100;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #C20020;
        }
        .uniform-pants {
            background-color: #080D57; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - LOS ANGELES KINGS - */
.losangeleskings {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #444;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #444;
        }
        .uniform-pants {
            background-color: #000; 
        }
        .uniform-helmet {
            background-color: #444; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #444;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #E2E2E2;
        }
        .uniform-pants {
            background-color: #000; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - MINNESOTA WILD - */
.minnesotawild {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #ead7b7;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #ead7b7;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #c00020;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #27402A;
        }
        .uniform-pants {
            background-color: #27402A; 
        }
        .uniform-helmet {
            background-color: #27402A; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #c00020;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #ead7b7;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #27402A;
        }
        .uniform-pants {
            background-color: #27402A; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - MONTREAL CANADIENS - */
.montrealcanadiens {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #9B001E;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #002966;
        }
        .uniform-pants {
            background-color: #002966; 
        }
        .uniform-helmet {
            background-color: #002966; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #002966;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #9B001E;
        }
        .uniform-pants {
            background-color: #002966; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - NASHVILLE PREDATORS - */
.nashvillepredators {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #F29F1E;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #F29F1E;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #F29F1E;
        }
        .uniform-pants {
            background-color: #012754; 
        }
        .uniform-helmet {
            background-color: #012754; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #F29F1E;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #F29F1E;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #E2E2E2;
        }
        .uniform-pants {
            background-color: #012754; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - NEW JERSEY DEVILS - */
.newjerseydevils {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #C10000;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #333;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #333; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #C10000;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #333;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - NEW YORK ISLANDERS - */
.newyorkislanders {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E56717;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #09357A;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #09357A;
        }
        .uniform-pants {
            background-color: #09357A; 
        }
        .uniform-helmet {
            background-color: #09357A; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E56717;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #E2E2E2;
        }
        .uniform-pants {
            background-color: #09357A; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - NEW YORK RANGERS - */
.newyorkrangers {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #D8D8D8;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #D8D8D8;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #1360A1;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #AC0F2B;
        }
        .uniform-pants {
            background-color: #AC0F2B; 
        }
        .uniform-helmet {
            background-color: #1360A1; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #AC0F2B;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #D8D8D8;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #1360A1;
        }
        .uniform-pants {
            background-color: #AC0F2B; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - OTTAWA SENATORS - */
.ottawasenators {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #333;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #C70000;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #C70000;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #333; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #C70000;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #E2E2E2;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - PHILADELPHIA FLYERS - */
.philadelphiaflyers {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #F64A00;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #333;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #333; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #F64A00;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #F64A00;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - PHOENIX COYOTES - */
.phoenixcoyotes {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #7F071F;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #7F071F;
        }
        .uniform-pants {
            background-color: #7F071F; 
        }
        .uniform-helmet {
            background-color: #7F071F; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #7F071F;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #7F071F;
        }
        .uniform-pants {
            background-color: #7F071F; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - PITTSBURGH PENGUINS - */
.pittsburghpenguins {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #333;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #BD9A59;
        }
        .uniform-pants {
            background-color: #000; 
        }
        .uniform-helmet {
            background-color: #333; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #333;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #BD9A59;
        }
        .uniform-pants {
            background-color: #000; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - SAN JOSE SHARKS - */
.sanjosesharks {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #006578;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #006578;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #333; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #006578;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #E2E2E2;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - ST LOUIS BLUES - */
.stlouisblues {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #FFD900;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #004B92;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #001d49;
        }
        .uniform-pants {
            background-color: #001d49; 
        }
        .uniform-helmet {
            background-color: #001d49; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #FFD900;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #004B92;
        }
        .uniform-pants {
            background-color: #001d49; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - TAMPA BAY LIGHTNING - */
.tampabaylightning {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #A6A7A6;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #A6A7A6;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #00296A;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #E2E2E2;
        }
        .uniform-pants {
            background-color: #00296A; 
        }
        .uniform-helmet {
            background-color: #00296A; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #A6A7A6;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #A6A7A6;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #00296A;
        }
        .uniform-pants {
            background-color: #00296A; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - TORONTO MAPLE LEAFS - */
.torontomapleleafs {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #00378F;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #00378F;
        }
        .uniform-pants {
            background-color: #00378F; 
        }
        .uniform-helmet {
            background-color: #00378F; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #00378F;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #E2E2E2;
        }
        .uniform-pants {
            background-color: #00378F; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - VANCOUVER CANUCKS - */
.vancouvercanucks {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #002B6E;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #048E4F;
        }
        .uniform-pants {
            background-color: #002B6E; 
        }
        .uniform-helmet {
            background-color: #002B6E; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #048E4F;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #002B6E;
        }
        .uniform-pants {
            background-color: #002B6E; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - WASHINGTON CAPITALS - */
.washingtoncapitals {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #DF0025;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #002A85;
        }
        .uniform-pants {
            background-color: #002A85; 
        }
        .uniform-helmet {
            background-color: #002A85; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #DF0025;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #E2E2E2;
        }
        .uniform-pants {
            background-color: #002A85; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}

/* - WINNIPEG JETS - */
.winnipegjets {
    &.home {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #E2E2E2;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #314164;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #3D82BE;
        }
        .uniform-pants {
            background-color: #314164; 
        }
        .uniform-helmet {
            background-color: #314164; 
        }
    }

    &.away {
        /* thin line on jersey and sock */
        .uniform-light {
            background-color: #3D82BE;
        }
        /* pants stripe */
        .uniform-medium {
            background-color: #E2E2E2;
        }
        /* main jersey color */
        .uniform-dark {
            background-color: #E2E2E2;
        }
        /* shoulder on jersey */
        .uniform-dark-alt {
            background-color: #314164;
        }
        .uniform-pants {
            background-color: #314164; 
        }
        .uniform-helmet {
            background-color: #E2E2E2; 
        }
    }
}