<div class="goalie {{teamName}} {{jersey}} {{hand}}">
  
  
  <!-- row 4 -->
  <span class="pixel row4 column22 uniform-helmet"></span>
  <span class="pixel row4 column22 shade"></span>

  <span class="pixel row4 column23 uniform-helmet"></span>
  <span class="pixel row4 column23 shade"></span>
  
  <span class="pixel row4 column24 uniform-helmet"></span>
  <span class="pixel row4 column24 shade"></span>


  <!-- row 5 -->
  <span class="pixel row5 column21 uniform-helmet"></span>
  <span class="pixel row5 column21 shade"></span>
  
  <span class="pixel row5 column22 uniform-helmet"></span>

  <span class="pixel row5 column23 uniform-helmet"></span>

  <span class="pixel row5 column24 uniform-helmet"></span>

  <span class="pixel row5 column25 uniform-helmet"></span>
  <span class="pixel row5 column25 shade"></span>


  <!-- row 6 -->
  <span class="pixel row6 column19 uniform-dark"></span>
  <span class="pixel row6 column19 shade"></span>

  <span class="pixel row6 column20 uniform-dark"></span>
  <span class="pixel row6 column20 shade"></span>  

  <span class="pixel row6 column21 uniform-helmet"></span>

  <span class="pixel row6 column22 uniform-helmet"></span>

  <span class="pixel row6 column23 uniform-helmet"></span>

  <span class="pixel row6 column24 uniform-helmet"></span>
  <span class="pixel row6 column24 shade"></span>

  <span class="pixel row6 column25 uniform-helmet"></span>
  <span class="pixel row6 column25 shade"></span>

  <span class="pixel row6 column26 uniform-dark"></span>
  <span class="pixel row6 column26 shade"></span>
  <span class="pixel row6 column26 shade"></span>

  <span class="pixel row6 column27 uniform-dark"></span>
  <span class="pixel row6 column27 shade"></span>
  <span class="pixel row6 column27 shade"></span>


  <!-- row 7 -->
  <span class="pixel row7 column18 uniform-dark"></span>
  <span class="pixel row7 column18 shade"></span>

  <span class="pixel row7 column19 uniform-light"></span>
  <span class="pixel row7 column19 shade"></span>
  <span class="pixel row7 column19 shade"></span>

  <span class="pixel row7 column20 uniform-dark"></span>

  <span class="pixel row7 column21 uniform-helmet"></span>
  <span class="pixel row7 column21 shade"></span>
  <span class="pixel row7 column21 shade"></span>

  <span class="pixel row7 column22 uniform-helmet"></span>
  <span class="pixel row7 column22 shade"></span>

  <span class="pixel row7 column23 uniform-helmet"></span>
  <span class="pixel row7 column23 shade"></span>

  <span class="pixel row7 column24 uniform-helmet"></span>
  <span class="pixel row7 column24 shade"></span>
  <span class="pixel row7 column24 shade"></span>

  <span class="pixel row7 column25 uniform-helmet"></span>
  <span class="pixel row7 column25 shade"></span>
  <span class="pixel row7 column25 shade"></span>

  <span class="pixel row7 column26 uniform-dark"></span>
  <span class="pixel row7 column26 shade"></span>
  <span class="pixel row7 column26 shade"></span>

  <span class="pixel row7 column27 uniform-dark"></span>
  <span class="pixel row7 column27 shade"></span>
  <span class="pixel row7 column27 shade"></span>

  <span class="pixel row7 column28 uniform-dark"></span>
  <span class="pixel row7 column28 shade"></span>
  <span class="pixel row7 column28 shade"></span>


  <!-- row 8 -->
  <span class="pixel row8 column17 uniform-dark"></span>
  <span class="pixel row8 column17 shade"></span>

  <span class="pixel row8 column18 uniform-light"></span>

  <span class="pixel row8 column19 uniform-dark-alt"></span>
  <span class="pixel row8 column19 shade"></span>

  <span class="pixel row8 column20 uniform-dark"></span>

  <span class="pixel row8 column21 uniform-helmet"></span>
  <span class="pixel row8 column21 shade"></span>

  <span class="pixel row8 column22 uniform-light"></span>
  <span class="pixel row8 column22 shade"></span>
  <span class="pixel row8 column22 shade"></span>

  <span class="pixel row8 column23 uniform-light"></span>
  <span class="pixel row8 column23 shade"></span>
  <span class="pixel row8 column23 shade"></span>

  <span class="pixel row8 column24 uniform-light"></span>
  <span class="pixel row8 column24 shade"></span>
  <span class="pixel row8 column24 shade"></span>

  <span class="pixel row8 column25 uniform-helmet"></span>
  <span class="pixel row8 column25 shade"></span>

  <span class="pixel row8 column26 uniform-dark"></span>
  <span class="pixel row8 column26 shade"></span>
  <span class="pixel row8 column26 shade"></span>

  <span class="pixel row8 column27 uniform-dark-alt"></span>
  <span class="pixel row8 column27 shade"></span>

  <span class="pixel row8 column28 uniform-light"></span>
  <span class="pixel row8 column28 shade"></span>
  <span class="pixel row8 column28 shade"></span>

  <span class="pixel row8 column29 uniform-dark"></span>


  <!-- row 9 -->
  <span class="pixel row9 column8 stick"></span>  

  <span class="pixel row9 column16 uniform-dark"></span>

  <span class="pixel row9 column17 uniform-light"></span>

  <span class="pixel row9 column18 uniform-dark-alt"></span>
  <span class="pixel row9 column18 shade"></span>

  <span class="pixel row9 column19 uniform-dark-alt"></span>
  <span class="pixel row9 column19 shade"></span>

  <span class="pixel row9 column20 uniform-dark-alt"></span>
  <span class="pixel row9 column20 shade"></span>

  <span class="pixel row9 column21 uniform-light"></span>

  <span class="pixel row9 column22 black"></span>

  <span class="pixel row9 column23 uniform-light"></span>

  <span class="pixel row9 column24 black"></span>

  <span class="pixel row9 column25 uniform-light"></span>

  <span class="pixel row9 column26 uniform-dark"></span>
  <span class="pixel row9 column26 shade"></span>

  <span class="pixel row9 column27 uniform-dark-alt"></span>

  <span class="pixel row9 column28 uniform-light"></span>
  <span class="pixel row9 column28 shade"></span>

  <span class="pixel row9 column29 uniform-dark"></span>


  <!-- row 10 -->
  <span class="pixel row10 column9 stick"></span>

  <span class="pixel row10 column16 uniform-light"></span>

  <span class="pixel row10 column17 uniform-dark-alt"></span>
  <span class="pixel row10 column17 shade"></span>

  <span class="pixel row10 column18 uniform-dark-alt"></span>
  <span class="pixel row10 column18 shade"></span>

  <span class="pixel row10 column19 uniform-dark-alt"></span>
  <span class="pixel row10 column19 shade"></span>

  <span class="pixel row10 column20 uniform-dark-alt"></span>
  <span class="pixel row10 column20 shade"></span>

  <span class="pixel row10 column21 uniform-dark-alt"></span>
  <span class="pixel row10 column21 shade"></span>

  <span class="pixel row10 column22 uniform-light"></span>
  <span class="pixel row10 column22 shade"></span>

  <span class="pixel row10 column23 uniform-light"></span>

  <span class="pixel row10 column24 uniform-light"></span>
  <span class="pixel row10 column24 shade"></span>

  <span class="pixel row10 column25 uniform-dark"></span>

  <span class="pixel row10 column26 uniform-dark-alt"></span>
  <span class="pixel row10 column26 shade"></span>

  <span class="pixel row10 column27 uniform-dark-alt"></span>
  <span class="pixel row10 column27 shade"></span>

  <span class="pixel row10 column28 uniform-dark-alt"></span>
  <span class="pixel row10 column28 shade"></span>

  <span class="pixel row10 column29 uniform-light"></span>

  <span class="pixel row10 column30 uniform-dark"></span>

  <span class="pixel row10 column31 uniform-light"></span>


  <!--- row 11 -->
  <span class="pixel row11 column9 stick"></span>

  <span class="pixel row11 column15 uniform-dark"></span>

  <span class="pixel row11 column16 uniform-light"></span>

  <span class="pixel row11 column17 uniform-dark-alt"></span>
  <span class="pixel row11 column17 shade"></span>

  <span class="pixel row11 column18 uniform-dark-alt"></span>
  <span class="pixel row11 column18 shade"></span>

  <span class="pixel row11 column19 uniform-light"></span>

  <span class="pixel row11 column20 uniform-light"></span>

  <span class="pixel row11 column21 uniform-dark"></span>

  <span class="pixel row11 column22 uniform-light"></span>

  <span class="pixel row11 column23 uniform-light"></span>
  <span class="pixel row11 column23 shade"></span>

  <span class="pixel row11 column24 uniform-light"></span>

  <span class="pixel row11 column25 uniform-dark"></span>

  <span class="pixel row11 column26 uniform-light"></span>

  <span class="pixel row11 column27 uniform-dark-alt"></span>
  <span class="pixel row11 column27 shade"></span>

  <span class="pixel row11 column28 uniform-dark-alt"></span>
  <span class="pixel row11 column28 shade"></span>

  <span class="pixel row11 column29 uniform-light"></span>

  <span class="pixel row11 column30 uniform-light"></span>

  <span class="pixel row11 column31 uniform-dark"></span>
  <span class="pixel row11 column31 shade"></span>


  <!-- row 12 -->
  <span class="pixel row12 column10 stick"></span>

  <span class="pixel row12 column15 uniform-light"></span>

  <span class="pixel row12 column16 uniform-dark"></span>
  <span class="pixel row12 column16 shade"></span>

  <span class="pixel row12 column17 uniform-light"></span>

  <span class="pixel row12 column18 uniform-light"></span>

  <span class="pixel row12 column19 uniform-dark"></span>

  <span class="pixel row12 column20 uniform-dark"></span>

  <span class="pixel row12 column21 uniform-dark"></span>
  <span class="pixel row12 column21 shade"></span>
  <span class="pixel row12 column21 shade"></span>

  <span class="pixel row12 column22 uniform-dark"></span>
  <span class="pixel row12 column22 shade"></span>
  <span class="pixel row12 column22 shade"></span>

  <span class="pixel row12 column23 uniform-dark"></span>

  <span class="pixel row12 column24 uniform-dark"></span>
  <span class="pixel row12 column24 shade"></span>
  <span class="pixel row12 column24 shade"></span>

  <span class="pixel row12 column25 uniform-dark"></span>

  <span class="pixel row12 column26 uniform-dark"></span>

  <span class="pixel row12 column27 uniform-light"></span>

  <span class="pixel row12 column28 uniform-light"></span>

  <span class="pixel row12 column29 uniform-dark"></span>
  <span class="pixel row12 column29 shade"></span>

  <span class="pixel row12 column30 uniform-light"></span>

  <span class="pixel row12 column31 uniform-dark"></span>
  <span class="pixel row12 column31 shade"></span>

  <span class="pixel row12 column32 uniform-dark"></span>


  <!-- row 13 -->
  <span class="pixel row13 column11 stick"></span>

  <span class="pixel row13 column14 uniform-dark-alt"></span>
  <span class="pixel row13 column14 shade"></span>

  <span class="pixel row13 column15 uniform-dark-alt"></span>
  <span class="pixel row13 column15 shade"></span>

  <span class="pixel row13 column16 uniform-dark"></span>
  <span class="pixel row13 column16 shade"></span>

  <span class="pixel row13 column17 uniform-dark"></span>
  <span class="pixel row13 column17 shade"></span>

  <span class="pixel row13 column18 uniform-dark"></span>
  <span class="pixel row13 column18 shade"></span>

  <span class="pixel row13 column19 uniform-dark"></span>
  <span class="pixel row13 column19 shade"></span>
  <span class="pixel row13 column19 shade"></span>

  <span class="pixel row13 column20 uniform-dark"></span>
  <span class="pixel row13 column20 shade"></span>
  <span class="pixel row13 column20 shade"></span>

  <span class="pixel row13 column21 uniform-dark"></span>
  <span class="pixel row13 column21 shade"></span>
  <span class="pixel row13 column21 shade"></span>

  <span class="pixel row13 column22 uniform-dark"></span>
  <span class="pixel row13 column22 shade"></span>
  <span class="pixel row13 column22 shade"></span>

  <span class="pixel row13 column23 uniform-dark"></span>
  <span class="pixel row13 column23 shade"></span>
  <span class="pixel row13 column23 shade"></span>

  <span class="pixel row13 column24 uniform-dark"></span>
  <span class="pixel row13 column24 shade"></span>
  <span class="pixel row13 column24 shade"></span>

  <span class="pixel row13 column25 uniform-dark"></span>
  <span class="pixel row13 column25 shade"></span>
  <span class="pixel row13 column25 shade"></span>

  <span class="pixel row13 column26 uniform-dark"></span>
  <span class="pixel row13 column26 shade"></span>
  <span class="pixel row13 column26 shade"></span>

  <span class="pixel row13 column27 uniform-dark"></span>
  <span class="pixel row13 column27 shade"></span>
  <span class="pixel row13 column27 shade"></span>

  <span class="pixel row13 column28 uniform-dark"></span>
  <span class="pixel row13 column28 shade"></span>

  <span class="pixel row13 column29 uniform-dark"></span>
  <span class="pixel row13 column29 shade"></span>

  <span class="pixel row13 column30 uniform-dark"></span>
  <span class="pixel row13 column30 shade"></span>

  <span class="pixel row13 column31 uniform-dark"></span>

  <span class="pixel row13 column32 uniform-dark"></span>

  <span class="pixel row13 column33 uniform-dark-alt"></span>
  <span class="pixel row13 column33 shade"></span>


  <!-- row 14 -->
  <span class="pixel row14 column11 stick"></span>

  <span class="pixel row14 column13 uniform-dark-alt"></span>
  <span class="pixel row14 column13 shade"></span>

  <span class="pixel row14 column14 uniform-dark-alt"></span>

  <span class="pixel row14 column15 uniform-dark-alt"></span>

  <span class="pixel row14 column16 uniform-dark-alt"></span>
  <span class="pixel row14 column16 shade"></span>

  <span class="pixel row14 column17 uniform-dark"></span>

  <span class="pixel row14 column18 uniform-dark-alt"></span>
  <span class="pixel row14 column18 shade"></span>
  <span class="pixel row14 column18 shade"></span>
  <span class="pixel row14 column18 shade"></span>
  <span class="pixel row14 column18 shade"></span>

  <span class="pixel row14 column19 uniform-dark-alt"></span>
  <span class="pixel row14 column19 shade"></span>
  <span class="pixel row14 column19 shade"></span>
  <span class="pixel row14 column19 shade"></span>
  <span class="pixel row14 column19 shade"></span>

  <span class="pixel row14 column20 uniform-dark-alt"></span>
  <span class="pixel row14 column20 shade"></span>
  <span class="pixel row14 column20 shade"></span>

  <span class="pixel row14 column21 uniform-dark-alt"></span>
  <span class="pixel row14 column21 shade"></span>
  <span class="pixel row14 column21 shade"></span>
  <span class="pixel row14 column21 shade"></span>
  <span class="pixel row14 column21 shade"></span>

  <span class="pixel row14 column22 uniform-dark-alt"></span>
  <span class="pixel row14 column22 shade"></span>
  <span class="pixel row14 column22 shade"></span>
  <span class="pixel row14 column22 shade"></span>
  <span class="pixel row14 column22 shade"></span>

  <span class="pixel row14 column23 uniform-dark-alt"></span>
  <span class="pixel row14 column23 shade"></span>
  <span class="pixel row14 column23 shade"></span>
  <span class="pixel row14 column23 shade"></span>
  <span class="pixel row14 column23 shade"></span>

  <span class="pixel row14 column24 uniform-dark-alt"></span>
  <span class="pixel row14 column24 shade"></span>
  <span class="pixel row14 column24 shade"></span>
  <span class="pixel row14 column24 shade"></span>
  <span class="pixel row14 column24 shade"></span>

  <span class="pixel row14 column25 uniform-dark-alt"></span>
  <span class="pixel row14 column25 shade"></span>
  <span class="pixel row14 column25 shade"></span>

  <span class="pixel row14 column26 uniform-dark-alt"></span>
  <span class="pixel row14 column26 shade"></span>
  <span class="pixel row14 column26 shade"></span>

  <span class="pixel row14 column27 uniform-dark-alt"></span>
  <span class="pixel row14 column27 shade"></span>
  <span class="pixel row14 column27 shade"></span>
  <span class="pixel row14 column27 shade"></span>
  <span class="pixel row14 column27 shade"></span>

  <span class="pixel row14 column28 uniform-dark-alt"></span>
  <span class="pixel row14 column28 shade"></span>
  <span class="pixel row14 column28 shade"></span>
  <span class="pixel row14 column28 shade"></span>
  <span class="pixel row14 column28 shade"></span>

  <span class="pixel row14 column29 uniform-dark"></span>
  <span class="pixel row14 column29 shade"></span>
  <span class="pixel row14 column29 shade"></span>

  <span class="pixel row14 column30 uniform-dark"></span>
  <span class="pixel row14 column30 shade"></span>

  <span class="pixel row14 column31 uniform-dark"></span>

  <span class="pixel row14 column32 uniform-dark-alt"></span>
  <span class="pixel row14 column32 shade"></span>

  <span class="pixel row14 column33 uniform-dark"></span>

  <span class="pixel row14 column34 uniform-dark-alt"></span>
  <span class="pixel row14 column34 shade"></span>

  <span class="pixel row14 column35 uniform-dark-alt"></span>
  <span class="pixel row14 column35 shade"></span>

  <span class="pixel row14 column36 uniform-dark-alt"></span>
  <span class="pixel row14 column36 shade"></span>

  <!-- row 15 -->
  <span class="pixel row15 column12 stick"></span>

  <span class="pixel row15 column13 uniform-dark-alt"></span>
  <span class="pixel row15 column13 shade"></span>

  <span class="pixel row15 column14 uniform-dark-alt"></span>

  <span class="pixel row15 column15 uniform-dark-alt"></span>

  <span class="pixel row15 column16 uniform-dark"></span>

  <span class="pixel row15 column17 uniform-dark-alt"></span>
  <span class="pixel row15 column17 shade"></span>

  <span class="pixel row15 column18 uniform-dark"></span>
  <span class="pixel row15 column18 shade"></span>
  <span class="pixel row15 column18 shade"></span>

  <span class="pixel row15 column19 uniform-dark-alt"></span>
  <span class="pixel row15 column19 shade"></span>
  <span class="pixel row15 column19 shade"></span>

  <span class="pixel row15 column20 uniform-dark-alt"></span>
  <span class="pixel row15 column20 shade"></span>
  <span class="pixel row15 column20 shade"></span>
  <span class="pixel row15 column20 shade"></span>
  <span class="pixel row15 column20 shade"></span>

  <span class="pixel row15 column21 uniform-dark-alt"></span>
  <span class="pixel row15 column21 shade"></span>
  <span class="pixel row15 column21 shade"></span>
  <span class="pixel row15 column21 shade"></span>
  <span class="pixel row15 column21 shade"></span>

  <span class="pixel row15 column22 uniform-dark"></span>
  <span class="pixel row15 column22 shade"></span>

  <span class="pixel row15 column23 uniform-dark-alt"></span>
  <span class="pixel row15 column23 shade"></span>
  <span class="pixel row15 column23 shade"></span>
  <span class="pixel row15 column23 shade"></span>
  <span class="pixel row15 column23 shade"></span>

  <span class="pixel row15 column24 uniform-dark"></span>
  <span class="pixel row15 column24 shade"></span>

  <span class="pixel row15 column25 uniform-dark-alt"></span>
  <span class="pixel row15 column25 shade"></span>
  <span class="pixel row15 column25 shade"></span>
  <span class="pixel row15 column25 shade"></span>
  <span class="pixel row15 column25 shade"></span>

  <span class="pixel row15 column26 uniform-dark-alt"></span>
  <span class="pixel row15 column26 shade"></span>
  <span class="pixel row15 column26 shade"></span>
  <span class="pixel row15 column26 shade"></span>
  <span class="pixel row15 column26 shade"></span>

  <span class="pixel row15 column27 uniform-dark"></span>
  <span class="pixel row15 column27 shade"></span>

  <span class="pixel row15 column28 uniform-dark"></span>
  <span class="pixel row15 column28 shade"></span>

  <span class="pixel row15 column29 uniform-dark"></span>
  <span class="pixel row15 column29 shade"></span>
  <span class="pixel row15 column29 shade"></span>

  <span class="pixel row15 column30 uniform-dark-alt"></span>
  <span class="pixel row15 column30 shade"></span>

  <span class="pixel row15 column31 uniform-dark-alt"></span>
  <span class="pixel row15 column31 shade"></span>

  <span class="pixel row15 column32 uniform-dark"></span>
  <span class="pixel row15 column32 shade"></span>

  <span class="pixel row15 column33 uniform-dark-alt"></span>
  <span class="pixel row15 column33 shade"></span>

  <span class="pixel row15 column34 uniform-dark-alt"></span>
  <span class="pixel row15 column34 shade"></span>

  <span class="pixel row15 column35 uniform-dark-alt"></span>

  <span class="pixel row15 column36 uniform-dark-alt"></span>

  <span class="pixel row15 column37 uniform-dark-alt"></span>
  <span class="pixel row15 column37 shade"></span>

  
  <!-- row 16 -->
  <span class="pixel row16 column12 uniform-dark-alt"></span>
  <span class="pixel row16 column12 shade"></span>

  <span class="pixel row16 column13 uniform-dark-alt"></span>

  <span class="pixel row16 column14 uniform-dark-alt"></span>

  <span class="pixel row16 column15 uniform-dark"></span>

  <span class="pixel row16 column16 uniform-dark-alt"></span>

  <span class="pixel row16 column17 uniform-dark-alt"></span>

  <span class="pixel row16 column18 uniform-light"></span>
  <span class="pixel row16 column18 shade"></span>

  <span class="pixel row16 column19 uniform-dark-alt"></span>
  <span class="pixel row16 column19 shade"></span>
  <span class="pixel row16 column19 shade"></span>

  <span class="pixel row16 column20 uniform-dark-alt"></span>
  <span class="pixel row16 column20 shade"></span>
  <span class="pixel row16 column20 shade"></span>

  <span class="pixel row16 column21 uniform-light"></span>
  <span class="pixel row16 column21 shade"></span>

  <span class="pixel row16 column22 uniform-dark"></span>
  <span class="pixel row16 column22 shade"></span>
  <span class="pixel row16 column22 shade"></span>

  <span class="pixel row16 column24 uniform-dark"></span>
  <span class="pixel row16 column24 shade"></span>
  <span class="pixel row16 column24 shade"></span>

  <span class="pixel row16 column25 uniform-light"></span>
  <span class="pixel row16 column25 shade"></span>

  <span class="pixel row16 column26 uniform-dark-alt"></span>
  <span class="pixel row16 column26 shade"></span>

  <span class="pixel row16 column27 uniform-dark-alt"></span>

  <span class="pixel row16 column28 uniform-light"></span>
  <span class="pixel row16 column28 shade"></span>

  <span class="pixel row16 column29 uniform-dark"></span>

  <span class="pixel row16 column31 uniform-dark"></span>

  <span class="pixel row16 column32 uniform-dark"></span>

  <span class="pixel row16 column33 uniform-dark"></span>

  <span class="pixel row16 column34 uniform-dark"></span>

  <span class="pixel row16 column35 uniform-dark-alt"></span>
  <span class="pixel row16 column35 shade"></span>

  <span class="pixel row16 column36 uniform-dark-alt"></span>

  <span class="pixel row16 column37 uniform-dark-alt"></span>

  <span class="pixel row16 column38 uniform-dark-alt"></span>
  <span class="pixel row16 column38 shade"></span>


  <!-- row 17 -->
  <span class="pixel row17 column11 uniform-dark-alt"></span>
  <span class="pixel row17 column11 shade"></span>

  <span class="pixel row17 column12 uniform-dark-alt"></span>

  <span class="pixel row17 column13 uniform-dark-alt"></span>

  <span class="pixel row17 column14 uniform-dark"></span>

  <span class="pixel row17 column15 uniform-dark-alt"></span>

  <span class="pixel row17 column16 uniform-dark-alt"></span>
  <span class="pixel row17 column16 shade"></span>

  <span class="pixel row17 column17 uniform-dark"></span>
  <span class="pixel row17 column17 shade"></span>
  <span class="pixel row17 column17 shade"></span>

  <span class="pixel row17 column18 uniform-light"></span>

  <span class="pixel row17 column19 uniform-dark-alt"></span>

  <span class="pixel row17 column20 uniform-dark-alt"></span>

  <span class="pixel row17 column21 uniform-light"></span>

  <span class="pixel row17 column22 uniform-dark"></span>

  <span class="pixel row17 column24 uniform-dark"></span>
  <span class="pixel row17 column24 shade"></span>

  <span class="pixel row17 column25 uniform-light"></span>

  <span class="pixel row17 column26 uniform-dark-alt"></span>

  <span class="pixel row17 column27 uniform-dark-alt"></span>

  <span class="pixel row17 column28 uniform-light"></span>

  <span class="pixel row17 column29 uniform-dark"></span>
  <span class="pixel row17 column29 shade"></span>
  <span class="pixel row17 column29 shade"></span>

  <span class="pixel row17 column32 uniform-dark-alt"></span>
  <span class="pixel row17 column32 shade"></span>

  <span class="pixel row17 column33 uniform-dark-alt"></span>

  <span class="pixel row17 column34 uniform-dark"></span>

  <span class="pixel row17 column35 uniform-dark"></span>

  <span class="pixel row17 column36 uniform-dark-alt"></span>
  <span class="pixel row17 column36 shade"></span>

  <span class="pixel row17 column37 uniform-dark-alt"></span>
  <span class="pixel row17 column37 shade"></span>

  <span class="pixel row17 column38 uniform-dark-alt"></span>
  <span class="pixel row17 column38 shade"></span>


  <!-- row 18 -->
  <span class="pixel row18 column11 uniform-dark-alt"></span>
  <span class="pixel row18 column11 shade"></span>

  <span class="pixel row18 column12 uniform-dark-alt"></span>

  <span class="pixel row18 column13 uniform-dark"></span>

  <span class="pixel row18 column14 uniform-dark-alt"></span>

  <span class="pixel row18 column15 uniform-dark-alt"></span>
  <span class="pixel row18 column15 shade"></span>

  <span class="pixel row18 column16 uniform-dark"></span>
  <span class="pixel row18 column16 shade"></span>
  <span class="pixel row18 column16 shade"></span>

  <span class="pixel row18 column17 uniform-light"></span>
  <span class="pixel row18 column17 shade"></span>

  <span class="pixel row18 column18 uniform-dark-alt"></span>

  <span class="pixel row18 column19 uniform-dark-alt"></span>

  <span class="pixel row18 column20 uniform-dark-alt"></span>

  <span class="pixel row18 column21 uniform-light"></span>
  <span class="pixel row18 column21 shade"></span>

  <span class="pixel row18 column22 uniform-dark"></span>
  <span class="pixel row18 column22 shade"></span>

  <span class="pixel row18 column24 uniform-dark"></span>
  <span class="pixel row18 column24 shade"></span>

  <span class="pixel row18 column25 uniform-light"></span>

  <span class="pixel row18 column26 uniform-dark-alt"></span>

  <span class="pixel row18 column27 uniform-dark-alt"></span>

  <span class="pixel row18 column28 uniform-light"></span>
  <span class="pixel row18 column28 shade"></span>

  <span class="pixel row18 column29 uniform-dark"></span>
  <span class="pixel row18 column29 shade"></span>

  <span class="pixel row18 column30 uniform-dark"></span>
  <span class="pixel row18 column30 shade"></span>
  <span class="pixel row18 column30 shade"></span>

  <span class="pixel row18 column33 uniform-dark-alt"></span>
  <span class="pixel row18 column33 shade"></span>

  <span class="pixel row18 column34 uniform-dark-alt"></span>

  <span class="pixel row18 column35 uniform-dark-alt"></span>

  <span class="pixel row18 column36 uniform-dark"></span>

  <span class="pixel row18 column37 uniform-dark-alt"></span>
  <span class="pixel row18 column37 shade"></span>


  <!-- row 19 -->
  <span class="pixel row19 column12 uniform-dark-alt"></span>
  <span class="pixel row19 column12 shade"></span>

  <span class="pixel row19 column13 uniform-dark"></span>

  <span class="pixel row19 column14 uniform-dark-alt"></span>

  <span class="pixel row19 column15 uniform-dark-alt"></span>
  <span class="pixel row19 column15 shade"></span>

  <span class="pixel row19 column16 uniform-dark"></span>
  <span class="pixel row19 column16 shade"></span>
  <span class="pixel row19 column16 shade"></span>

  <span class="pixel row19 column17 uniform-light"></span>
  <span class="pixel row19 column17 shade"></span>

  <span class="pixel row19 column18 uniform-dark-alt"></span>

  <span class="pixel row19 column19 uniform-dark-alt"></span>

  <span class="pixel row19 column20 uniform-light"></span>
  <span class="pixel row19 column20 shade"></span>

  <span class="pixel row19 column21 uniform-dark"></span>
  <span class="pixel row19 column21 shade"></span>

  <span class="pixel row19 column25 uniform-dark"></span>
  <span class="pixel row19 column25 shade"></span>

  <span class="pixel row19 column26 uniform-light"></span>
  <span class="pixel row19 column26 shade"></span>

  <span class="pixel row19 column27 uniform-dark-alt"></span>

  <span class="pixel row19 column28 uniform-dark-alt"></span>

  <span class="pixel row19 column29 uniform-light"></span>

  <span class="pixel row19 column30 uniform-dark"></span>
  <span class="pixel row19 column30 shade"></span>

  <span class="pixel row19 column34 uniform-dark-alt"></span>
  <span class="pixel row19 column34 shade"></span>

  <span class="pixel row19 column35 uniform-dark-alt"></span>
  <span class="pixel row19 column35 shade"></span>

  <span class="pixel row19 column36 uniform-dark-alt"></span>
  <span class="pixel row19 column36 shade"></span>


  <!-- row 20 -->
  <span class="pixel row20 column13 uniform-dark-alt"></span>
  <span class="pixel row20 column13 shade"></span>

  <span class="pixel row20 column14 uniform-dark-alt"></span>
  <span class="pixel row20 column14 shade"></span>

  <span class="pixel row20 column15 stick"></span>

  <span class="pixel row20 column16 stick"></span>

  <span class="pixel row20 column17 uniform-dark-alt"></span>

  <span class="pixel row20 column18 uniform-dark-alt"></span>

  <span class="pixel row20 column19 uniform-dark-alt"></span>

  <span class="pixel row20 column20 uniform-light"></span>

  <span class="pixel row20 column21 uniform-dark"></span>
  <span class="pixel row20 column21 shade"></span>

  <span class="pixel row20 column25 uniform-dark"></span>
  <span class="pixel row20 column25 shade"></span>

  <span class="pixel row20 column26 uniform-light"></span>

  <span class="pixel row20 column27 uniform-dark-alt"></span>

  <span class="pixel row20 column28 uniform-dark-alt"></span>

  <span class="pixel row20 column29 uniform-dark-alt"></span>

  <span class="pixel row20 column30 uniform-light"></span>

  <span class="pixel row20 column31 uniform-dark"></span>
  <span class="pixel row20 column31 shade"></span>


  <!-- row 21 -->
  <span class="pixel row21 column15 stick"></span>

  <span class="pixel row21 column16 stick"></span>

  <span class="pixel row21 column17 stick"></span>

  <span class="pixel row21 column18 uniform-dark-alt"></span>

  <span class="pixel row21 column19 uniform-dark-alt"></span>

  <span class="pixel row21 column20 uniform-light"></span>

  <span class="pixel row21 column21 uniform-dark"></span>
  <span class="pixel row21 column21 shade"></span>

  <span class="pixel row21 column25 uniform-dark"></span>

  <span class="pixel row21 column26 uniform-light"></span>

  <span class="pixel row21 column27 uniform-dark-alt"></span>

  <span class="pixel row21 column28 uniform-dark-alt"></span>

  <span class="pixel row21 column29 uniform-dark-alt"></span>

  <span class="pixel row21 column30 uniform-light"></span>

  <span class="pixel row21 column31 uniform-dark"></span>


  <!-- row 22 -->
  <span class="pixel row22 column14 uniform-dark"></span>

  <span class="pixel row22 column15 uniform-light"></span>
  <span class="pixel row22 column15 shade"></span>

  <span class="pixel row22 column16 stick"></span>

  <span class="pixel row22 column17 stick"></span>

  <span class="pixel row22 column18 uniform-dark-alt"></span>

  <span class="pixel row22 column19 uniform-light"></span>

  <span class="pixel row22 column20 uniform-dark"></span>
  <span class="pixel row22 column20 shade"></span>

  <span class="pixel row22 column26 uniform-dark"></span>

  <span class="pixel row22 column27 uniform-light"></span>
  <span class="pixel row22 column27 shade"></span>

  <span class="pixel row22 column28 uniform-dark-alt"></span>

  <span class="pixel row22 column29 uniform-dark-alt"></span>

  <span class="pixel row22 column30 uniform-dark-alt"></span>

  <span class="pixel row22 column31 uniform-light"></span>
  <span class="pixel row22 column31 shade"></span>

  <span class="pixel row22 column32 uniform-dark"></span>
  <span class="pixel row22 column32 shade"></span>

  <!-- row 23 -->
  <span class="pixel row23 column14 uniform-dark"></span>

  <span class="pixel row23 column15 uniform-light"></span>

  <span class="pixel row23 column16 uniform-dark-alt"></span>

  <span class="pixel row23 column17 stick"></span>

  <span class="pixel row23 column18 stick"></span>

  <span class="pixel row23 column19 uniform-light"></span>
  <span class="pixel row23 column19 shade"></span>

  <span class="pixel row23 column20 uniform-dark"></span>
  <span class="pixel row23 column20 shade"></span>

  <span class="pixel row23 column26 uniform-dark"></span>

  <span class="pixel row23 column27 uniform-light"></span>

  <span class="pixel row23 column28 uniform-dark-alt"></span>

  <span class="pixel row23 column29 uniform-dark-alt"></span>

  <span class="pixel row23 column30 uniform-dark-alt"></span>

  <span class="pixel row23 column31 uniform-light"></span>

  <span class="pixel row23 column32 uniform-dark"></span>


  <!-- row 24 -->
  <span class="pixel row24 column14 uniform-dark"></span>
  <span class="pixel row24 column14 shade"></span>

  <span class="pixel row24 column15 uniform-light"></span>

  <span class="pixel row24 column16 uniform-dark-alt"></span>

  <span class="pixel row24 column17 stick"></span>

  <span class="pixel row24 column18 stick"></span>

  <span class="pixel row24 column19 stick"></span>

  <span class="pixel row24 column20 uniform-dark"></span>
  <span class="pixel row24 column20 shade"></span>

  <span class="pixel row24 column26 uniform-dark"></span>
  <span class="pixel row24 column26 shade"></span>

  <span class="pixel row24 column27 uniform-light"></span>

  <span class="pixel row24 column28 uniform-dark-alt"></span>

  <span class="pixel row24 column29 uniform-dark-alt"></span>

  <span class="pixel row24 column30 uniform-dark-alt"></span>

  <span class="pixel row24 column31 uniform-light"></span>

  <span class="pixel row24 column32 uniform-dark"></span>


  <!-- row 25 -->
  <span class="pixel row25 column14 uniform-dark"></span>
  <span class="pixel row25 column14 shade"></span>

  <span class="pixel row25 column15 uniform-dark"></span>
  <span class="pixel row25 column15 shade"></span>

  <span class="pixel row25 column16 uniform-light"></span>

  <span class="pixel row25 column17 uniform-light"></span>
  <span class="pixel row25 column17 shade"></span>

  <span class="pixel row25 column18 stick"></span>

  <span class="pixel row25 column19 stick"></span>

  <span class="pixel row25 column20 uniform-dark"></span>
  <span class="pixel row25 column20 shade"></span>

  <span class="pixel row25 column26 uniform-dark"></span>
  <span class="pixel row25 column26 shade"></span>

  <span class="pixel row25 column27 uniform-dark"></span>
  <span class="pixel row25 column27 shade"></span>

  <span class="pixel row25 column28 uniform-light"></span>
  <span class="pixel row25 column28 shade"></span>

  <span class="pixel row25 column29 uniform-light"></span>

  <span class="pixel row25 column30 uniform-light"></span>

  <span class="pixel row25 column31 uniform-dark"></span>

  <span class="pixel row25 column32 uniform-dark"></span>


  <!-- row 26 -->
  <span class="pixel row26 column14 ice"></span>

  <span class="pixel row26 column15 uniform-dark"></span>
  <span class="pixel row26 column15 shade"></span>

  <span class="pixel row26 column16 uniform-dark"></span>
  <span class="pixel row26 column16 shade"></span>

  <span class="pixel row26 column17 uniform-dark"></span>
  <span class="pixel row26 column17 shade"></span>

  <span class="pixel row26 column18 stick"></span>

  <span class="pixel row26 column19 stick"></span>

  <span class="pixel row26 column20 stick"></span>

  <span class="pixel row26 column21 ice"></span>

  <span class="pixel row26 column24 ice"></span>

  <span class="pixel row26 column25 ice"></span>

  <span class="pixel row26 column26 ice"></span>

  <span class="pixel row26 column27 uniform-dark"></span>
  <span class="pixel row26 column27 shade"></span>

  <span class="pixel row26 column28 uniform-dark"></span>
  <span class="pixel row26 column28 shade"></span>

  <span class="pixel row26 column29 uniform-dark"></span>
  <span class="pixel row26 column29 shade"></span>

  <span class="pixel row26 column30 uniform-dark"></span>
  <span class="pixel row26 column30 shade"></span>

  <span class="pixel row26 column31 uniform-dark"></span>
  <span class="pixel row26 column31 shade"></span>

  <span class="pixel row26 column33 ice"></span>

  <span class="pixel row26 column34 ice"></span>

  <span class="pixel row26 column35 ice"></span>


  <!-- row 27 -->
  <span class="pixel row27 column15 ice"></span>

  <span class="pixel row27 column16 black"></span>

  <span class="pixel row27 column17 black"></span>

  <span class="pixel row27 column18 ice"></span>

  <span class="pixel row27 column19 stick"></span>

  <span class="pixel row27 column20 stick"></span>

  <span class="pixel row27 column21 stick"></span>

  <span class="pixel row27 column22 ice"></span>

  <span class="pixel row27 column25 ice"></span>

  <span class="pixel row27 column26 ice"></span>

  <span class="pixel row27 column27 ice"></span>

  <span class="pixel row27 column28 ice"></span>

  <span class="pixel row27 column29 black"></span>

  <span class="pixel row27 column30 black"></span>

  <span class="pixel row27 column31 ice"></span>

  <span class="pixel row27 column32 ice"></span>


  <!-- row 28 -->
  <span class="pixel row28 column19 ice"></span>

  <span class="pixel row28 column20 stick"></span>

  <span class="pixel row28 column21 stick"></span>

  <span class="pixel row28 column22 stick"></span>

  <span class="pixel row28 column23 stick"></span>

  <span class="pixel row28 column24 stick"></span>

  <span class="pixel row28 column25 stick"></span>

  <span class="pixel row28 column26 stick"></span>

  <span class="pixel row28 column27 stick"></span>

  <span class="pixel row28 column28 stick"></span>

  <span class="pixel row28 column29 stick"></span>

  <span class="pixel row28 column30 ice"></span>


  <!-- row 29 -->
  <span class="pixel row29 column20 stick"></span>

  <span class="pixel row29 column21 stick"></span>

  <span class="pixel row29 column22 stick"></span>

  <span class="pixel row29 column23 stick"></span>

  <span class="pixel row29 column24 stick"></span>

  <span class="pixel row29 column25 stick"></span>

  <span class="pixel row29 column26 stick"></span>

  <span class="pixel row29 column27 stick"></span>

  <span class="pixel row29 column28 stick"></span>

  <span class="pixel row29 column29 stick"></span>


  <!-- row 30 -->
  <span class="pixel row30 column21 stick"></span>

  <span class="pixel row30 column22 stick"></span>

  <span class="pixel row30 column23 stick"></span>

  <span class="pixel row30 column24 stick"></span>

  <span class="pixel row30 column25 stick"></span>

  <span class="pixel row30 column26 stick"></span>

  <span class="pixel row30 column27 stick"></span>

  <span class="pixel row30 column28 stick"></span>

  <span class="pixel row30 column29 stick"></span>


  <!-- row 31 -->
  <span class="pixel row31 column22 ice"></span>

  <span class="pixel row31 column23 ice"></span>

  <span class="pixel row31 column24 ice"></span>

  <span class="pixel row31 column25 ice"></span>

  <span class="pixel row31 column26 ice"></span>

  <span class="pixel row31 column27 ice"></span>

  <span class="pixel row31 column28 ice"></span>

  <span class="pixel row31 column29 ice"></span>

  <span class="pixel row31 column30 ice"></span>


</div>
