<div class="enforcer {{teamName}} {{jersey}} {{hand || 'left'}} {{skin}}">
  
  
  <!-- row 4 -->
  <span class="pixel row4 column22 uniform-helmet"></span>
  <span class="pixel row4 column22 shade"></span>

  <span class="pixel row4 column23 uniform-helmet"></span>
  
  <span class="pixel row4 column24 uniform-helmet"></span>


  <!-- row 5 -->
  <span class="pixel row5 column21 uniform-helmet"></span>
  <span class="pixel row5 column21 shade"></span>
  <span class="pixel row5 column21 shade"></span>

  <span class="pixel row5 column22 uniform-helmet"></span>

  <span class="pixel row5 column23 uniform-helmet"></span>

  <span class="pixel row5 column24 uniform-helmet"></span>
  <span class="pixel row5 column24 shade"></span>

  <span class="pixel row5 column25 uniform-helmet"></span>
  <span class="pixel row5 column25 shade"></span>
  <span class="pixel row5 column25 shade"></span>


  <!-- row 6 -->
  <span class="pixel row6 column21 uniform-helmet"></span>
  <span class="pixel row6 column21 shade"></span>
  <span class="pixel row6 column21 shade"></span>

  <span class="pixel row6 column22 uniform-helmet"></span>

  <span class="pixel row6 column23 uniform-helmet"></span>

  <span class="pixel row6 column24 uniform-helmet"></span>
  <span class="pixel row6 column24 shade"></span>

  <span class="pixel row6 column25 uniform-helmet"></span>
  <span class="pixel row6 column25 shade"></span>
  <span class="pixel row6 column25 shade"></span>


  <!-- row 7 -->
  <span class="pixel row7 column21 uniform-helmet"></span>
  <span class="pixel row7 column21 shade"></span>
  <span class="pixel row7 column21 shade"></span>

  <span class="pixel row7 column22 uniform-helmet"></span>

  <span class="pixel row7 column23 uniform-helmet"></span>
  <span class="pixel row7 column23 shade"></span>

  <span class="pixel row7 column24 skin"></span>
  <span class="pixel row7 column24 shade"></span>

  <span class="pixel row7 column25 skin"></span>
  <span class="pixel row7 column25 shade"></span>


  <!-- row 8 -->
  <span class="pixel row8 column21 uniform-helmet"></span>
  <span class="pixel row8 column21 shade"></span>
  <span class="pixel row8 column21 shade"></span>

  <span class="pixel row8 column22 uniform-helmet"></span>
  <span class="pixel row8 column22 shade"></span>
  <span class="pixel row8 column22 shade"></span>

  <span class="pixel row8 column23 skin"></span>
  <span class="pixel row8 column23 shade"></span>

  <span class="pixel row8 column24 eyes"></span>

  <span class="pixel row8 column25 skin"></span>


  <!-- row 9 -->
  <span class="pixel row9 column20 uniform-light"></span>
  <span class="pixel row9 column20 shade"></span>

  <span class="pixel row9 column21 skin"></span>
  <span class="pixel row9 column21 shade"></span>

  <span class="pixel row9 column22 skin"></span>
  <span class="pixel row9 column22 shade"></span>

  <span class="pixel row9 column23 skin"></span>

  <span class="pixel row9 column24 skin"></span>
  <span class="pixel row9 column24 shade"></span>

  <span class="pixel row9 column25 skin"></span>

  <span class="pixel row9 column26 uniform-dark"></span>
  <span class="pixel row9 column26 shade"></span>


  <!-- row 10 -->
  <span class="pixel row10 column18 uniform-dark"></span>

  <span class="pixel row10 column19 uniform-light"></span>
  <span class="pixel row10 column19 shade"></span>

  <span class="pixel row10 column20 uniform-dark-alt"></span>

  <span class="pixel row10 column21 skin"></span>
  <span class="pixel row10 column21 shade"></span>

  <span class="pixel row10 column22 skin"></span>
  <span class="pixel row10 column22 shade"></span>

  <span class="pixel row10 column23 skin"></span>
  <span class="pixel row10 column23 shade"></span>

  <span class="pixel row10 column24 skin"></span>
  <span class="pixel row10 column24 shade"></span>

  <span class="pixel row10 column25 uniform-dark"></span>
  <span class="pixel row10 column25 shade"></span>

  <span class="pixel row10 column26 uniform-dark"></span>
  <span class="pixel row10 column26 shade"></span>

  <span class="pixel row10 column27 uniform-light"></span>
  <span class="pixel row10 column27 shade"></span>


  <!-- row 11 -->
  <span class="pixel row11 column17 uniform-dark"></span>

  <span class="pixel row11 column18 uniform-light"></span>

  <span class="pixel row11 column19 uniform-dark-alt"></span>

  <span class="pixel row11 column20 uniform-dark-alt"></span>

  <span class="pixel row11 column21 uniform-dark-alt"></span>

  <span class="pixel row11 column22 skin"></span>
  <span class="pixel row11 column22 shade"></span>

  <span class="pixel row11 column23 uniform-dark-alt"></span>

  <span class="pixel row11 column24 uniform-light"></span>
  <span class="pixel row11 column24 shade"></span>

  <span class="pixel row11 column25 uniform-dark"></span>
  <span class="pixel row11 column25 shade"></span>

  <span class="pixel row11 column26 uniform-light"></span>

  <span class="pixel row11 column27 uniform-dark-alt"></span>

  <span class="pixel row11 column28 uniform-dark"></span>
  <span class="pixel row11 column28 shade"></span>

  <span class="pixel row11 column29 skin"></span>
  <span class="pixel row11 column29 shade"></span>

  <span class="pixel row11 column30 skin"></span>
  <span class="pixel row11 column30 shade"></span>


  <!-- row 12 -->
  <span class="pixel row12 column17 uniform-dark"></span>

  <span class="pixel row12 column18 uniform-light"></span>

  <span class="pixel row12 column19 uniform-dark-alt"></span>

  <span class="pixel row12 column20 uniform-dark-alt"></span>

  <span class="pixel row12 column21 uniform-light"></span>

  <span class="pixel row12 column22 uniform-light"></span>

  <span class="pixel row12 column23 uniform-light"></span>

  <span class="pixel row12 column24 uniform-dark"></span>

  <span class="pixel row12 column25 uniform-dark"></span>

  <span class="pixel row12 column26 uniform-light"></span>
  <span class="pixel row12 column26 shade"></span>

  <span class="pixel row12 column27 uniform-dark-alt"></span>

  <span class="pixel row12 column28 skin"></span>
  <span class="pixel row12 column28 shade"></span>

  <span class="pixel row12 column29 skin"></span>

  <span class="pixel row12 column30 skin"></span>
  <span class="pixel row12 column30 shade"></span>

  <span class="pixel row12 column31 skin"></span>
  <span class="pixel row12 column31 shade"></span>


  <!-- row 13 -->
  <span class="pixel row13 column17 uniform-dark"></span>

  <span class="pixel row13 column18 uniform-dark"></span>

  <span class="pixel row13 column19 uniform-light"></span>
  <span class="pixel row13 column19 shade"></span>

  <span class="pixel row13 column20 uniform-light"></span>
  <span class="pixel row13 column20 shade"></span>

  <span class="pixel row13 column21 uniform-dark"></span>

  <span class="pixel row13 column22 uniform-dark"></span>

  <span class="pixel row13 column23 uniform-dark"></span>

  <span class="pixel row13 column24 uniform-dark"></span>

  <span class="pixel row13 column25 uniform-dark"></span>
  <span class="pixel row13 column25 shade"></span>
  <span class="pixel row13 column25 shade"></span>

  <span class="pixel row13 column26 uniform-dark"></span>
  <span class="pixel row13 column26 shade"></span>
  <span class="pixel row13 column26 shade"></span>

  <span class="pixel row13 column27 uniform-light"></span>
  <span class="pixel row13 column27 shade"></span>

  <span class="pixel row13 column28 uniform-dark"></span>
  <span class="pixel row13 column28 shade"></span>
  <span class="pixel row13 column28 shade"></span>

  <span class="pixel row13 column29 skin"></span>
  <span class="pixel row13 column29 shade"></span>

  <span class="pixel row13 column30 skin"></span>

  <span class="pixel row13 column31 skin"></span>
  <span class="pixel row13 column31 shade"></span>


  <!-- row 14 -->
  <span class="pixel row14 column16 uniform-dark"></span>
  <span class="pixel row14 column16 shade"></span>

  <span class="pixel row14 column17 uniform-dark"></span>

  <span class="pixel row14 column18 uniform-dark"></span>

  <span class="pixel row14 column19 uniform-dark"></span>

  <span class="pixel row14 column20 uniform-dark"></span>

  <span class="pixel row14 column21 uniform-dark"></span>
  <span class="pixel row14 column21 shade"></span>
  <span class="pixel row14 column21 shade"></span>

  <span class="pixel row14 column22 uniform-dark"></span>

  <span class="pixel row14 column23 uniform-dark"></span>
  <span class="pixel row14 column23 shade"></span>

  <span class="pixel row14 column24 uniform-dark"></span>
  <span class="pixel row14 column24 shade"></span>

  <span class="pixel row14 column25 uniform-dark"></span>
  <span class="pixel row14 column25 shade"></span>
  <span class="pixel row14 column25 shade"></span>

  <span class="pixel row14 column27 uniform-dark"></span>
  <span class="pixel row14 column27 shade"></span>
  <span class="pixel row14 column27 shade"></span>

  <span class="pixel row14 column28 uniform-dark"></span>
  <span class="pixel row14 column28 shade"></span>

  <span class="pixel row14 column29 uniform-dark"></span>
  <span class="pixel row14 column29 shade"></span>

  <span class="pixel row14 column30 skin"></span>
  <span class="pixel row14 column30 shade"></span>

  <span class="pixel row14 column31 uniform-dark"></span>
  <span class="pixel row14 column31 shade"></span>


  <!-- row 15 -->
  <span class="pixel row15 column16 uniform-dark"></span>
  <span class="pixel row15 column16 shade"></span>

  <span class="pixel row15 column17 uniform-light"></span>
  <span class="pixel row15 column17 shade"></span>

  <span class="pixel row15 column18 uniform-dark"></span>

  <span class="pixel row15 column19 uniform-dark"></span>

  <span class="pixel row15 column20 uniform-dark"></span>
  <span class="pixel row15 column20 shade"></span>

  <span class="pixel row15 column21 uniform-dark"></span>
  <span class="pixel row15 column21 shade"></span>
  <span class="pixel row15 column21 shade"></span>

  <span class="pixel row15 column22 uniform-dark"></span>

  <span class="pixel row15 column23 uniform-dark"></span>
  <span class="pixel row15 column23 shade"></span>

  <span class="pixel row15 column24 skin"></span>

  <span class="pixel row15 column25 skin"></span>

  <span class="pixel row15 column26 skin"></span>
  <span class="pixel row15 column26 shade"></span>

  <span class="pixel row15 column28 uniform-dark"></span>

  <span class="pixel row15 column29 uniform-dark"></span>

  <span class="pixel row15 column30 uniform-dark"></span>
  <span class="pixel row15 column30 shade"></span>

  <span class="pixel row15 column31 uniform-dark"></span>
  <span class="pixel row15 column31 shade"></span>


  <!-- row 16 -->
  <span class="pixel row16 column16 uniform-dark"></span>
  <span class="pixel row16 column16 shade"></span>
  <span class="pixel row16 column16 shade"></span>

  <span class="pixel row16 column17 uniform-dark-alt"></span>

  <span class="pixel row16 column18 uniform-light"></span>
  <span class="pixel row16 column18 shade"></span>

  <span class="pixel row16 column19 uniform-light"></span>
  <span class="pixel row16 column19 shade"></span>

  <span class="pixel row16 column20 uniform-dark"></span>
  <span class="pixel row16 column20 shade"></span>
  <span class="pixel row16 column20 shade"></span>

  <span class="pixel row16 column21 uniform-dark"></span>
  <span class="pixel row16 column21 shade"></span>
  <span class="pixel row16 column21 shade"></span>

  <span class="pixel row16 column22 uniform-dark"></span>
  <span class="pixel row16 column22 shade"></span>
  <span class="pixel row16 column22 shade"></span>

  <span class="pixel row16 column23 uniform-dark"></span>
  <span class="pixel row16 column23 shade"></span>
  <span class="pixel row16 column23 shade"></span>

  <span class="pixel row16 column24 skin"></span>
  <span class="pixel row16 column24 shade"></span>

  <span class="pixel row16 column25 skin"></span>

  <span class="pixel row16 column26 skin"></span>
  <span class="pixel row16 column26 shade"></span>

  <span class="pixel row16 column29 uniform-dark"></span>

  <span class="pixel row16 column30 uniform-dark"></span>


  <!-- row 17 -->
  <span class="pixel row17 column16 uniform-dark"></span>
  <span class="pixel row17 column16 shade"></span>
  <span class="pixel row17 column16 shade"></span>

  <span class="pixel row17 column17 uniform-light"></span>
  <span class="pixel row17 column17 shade"></span>
  <span class="pixel row17 column17 shade"></span>

  <span class="pixel row17 column18 uniform-dark-alt"></span>

  <span class="pixel row17 column19 uniform-dark-alt"></span>

  <span class="pixel row17 column20 uniform-light"></span>
  <span class="pixel row17 column20 shade"></span>

  <span class="pixel row17 column21 uniform-dark"></span>
  <span class="pixel row17 column21 shade"></span>

  <span class="pixel row17 column22 uniform-dark"></span>

  <span class="pixel row17 column23 uniform-dark"></span>

  <span class="pixel row17 column24 skin"></span>
  <span class="pixel row17 column24 shade"></span>

  <span class="pixel row17 column25 skin"></span>
  <span class="pixel row17 column25 shade"></span>

  <span class="pixel row17 column26 skin"></span>
  <span class="pixel row17 column26 shade"></span>

  
  <!-- row 18 -->
  <span class="pixel row18 column16 uniform-dark"></span>
  <span class="pixel row18 column16 shade"></span>
  <span class="pixel row18 column16 shade"></span>

  <span class="pixel row18 column17 uniform-dark"></span>
  <span class="pixel row18 column17 shade"></span>

  <span class="pixel row18 column18 uniform-light"></span>
  <span class="pixel row18 column18 shade"></span>

  <span class="pixel row18 column19 uniform-light"></span>
  <span class="pixel row18 column19 shade"></span>

  <span class="pixel row18 column20 uniform-dark"></span>
  <span class="pixel row18 column20 shade"></span>

  <span class="pixel row18 column21 uniform-dark"></span>

  <span class="pixel row18 column22 uniform-dark"></span>

  <span class="pixel row18 column23 uniform-dark"></span>
  <span class="pixel row18 column23 shade"></span>

  <span class="pixel row18 column24 skin"></span>
  <span class="pixel row18 column24 shade"></span>

  <span class="pixel row18 column25 skin"></span>
  <span class="pixel row18 column25 shade"></span>


  <!-- row 19 -->
  <span class="pixel row19 column17 uniform-dark"></span>
  <span class="pixel row19 column17 shade"></span>
  <span class="pixel row19 column17 shade"></span>

  <span class="pixel row19 column18 uniform-dark"></span>
  <span class="pixel row19 column18 shade"></span>

  <span class="pixel row19 column19 uniform-dark"></span>
  <span class="pixel row19 column19 shade"></span>

  <span class="pixel row19 column20 uniform-dark"></span>
  <span class="pixel row19 column20 shade"></span>

  <span class="pixel row19 column21 uniform-dark"></span>
  <span class="pixel row19 column21 shade"></span>

  <span class="pixel row19 column22 uniform-dark"></span>
  <span class="pixel row19 column22 shade"></span>

  <span class="pixel row19 column23 uniform-dark"></span>
  <span class="pixel row19 column23 shade"></span>

  <span class="pixel row19 column24 uniform-dark"></span>
  <span class="pixel row19 column24 shade"></span>
  <span class="pixel row19 column24 shade"></span>


  <!-- row 20 -->
  <span class="pixel row20 column17 uniform-pants"></span>

  <span class="pixel row20 column18 uniform-dark"></span>
  <span class="pixel row20 column18 shade"></span>

  <span class="pixel row20 column19 uniform-dark"></span>
  <span class="pixel row20 column19 shade"></span>

  <span class="pixel row20 column20 uniform-dark"></span>
  <span class="pixel row20 column20 shade"></span>

  <span class="pixel row20 column21 uniform-dark"></span>
  <span class="pixel row20 column21 shade"></span>

  <span class="pixel row20 column22 uniform-dark"></span>
  <span class="pixel row20 column22 shade"></span>

  <span class="pixel row20 column23 uniform-dark"></span>
  <span class="pixel row20 column23 shade"></span>

  <span class="pixel row20 column24 uniform-dark"></span>
  <span class="pixel row20 column24 shade"></span>

  <span class="pixel row20 column25 uniform-dark"></span>
  <span class="pixel row20 column25 shade"></span>
  <span class="pixel row20 column25 shade"></span>


  <!-- row 21 -->
  <span class="pixel row21 column17 uniform-pants"></span>

  <span class="pixel row21 column18 uniform-medium"></span>

  <span class="pixel row21 column19 uniform-medium"></span>
  <span class="pixel row21 column19 shade"></span>

  <span class="pixel row21 column20 uniform-pants"></span>

  <span class="pixel row21 column21 uniform-pants"></span>
  <span class="pixel row21 column21 shade"></span>

  <span class="pixel row21 column22 uniform-dark"></span>
  <span class="pixel row21 column22 shade"></span>

  <span class="pixel row21 column23 uniform-dark"></span>
  <span class="pixel row21 column23 shade"></span>

  <span class="pixel row21 column24 uniform-dark"></span>
  <span class="pixel row21 column24 shade"></span>

  <span class="pixel row21 column25 uniform-dark"></span>
  <span class="pixel row21 column25 shade"></span>
  <span class="pixel row21 column25 shade"></span>

  <span class="pixel row21 column26 uniform-dark"></span>
  <span class="pixel row21 column26 shade"></span>
  <span class="pixel row21 column26 shade"></span>


  <!-- row 22 -->
  <span class="pixel row22 column17 uniform-pants"></span>

  <span class="pixel row22 column18 uniform-pants"></span>

  <span class="pixel row22 column19 uniform-medium"></span>

  <span class="pixel row22 column20 uniform-medium"></span>
  <span class="pixel row22 column20 shade"></span>

  <span class="pixel row22 column21 uniform-pants"></span>

  <span class="pixel row22 column22 uniform-pants"></span>

  <span class="pixel row22 column23 uniform-pants"></span>
  <span class="pixel row22 column23 shade"></span>

  <span class="pixel row22 column24 uniform-pants"></span>
  <span class="pixel row22 column24 shade"></span>

  <span class="pixel row22 column25 uniform-pants"></span>
  <span class="pixel row22 column25 shade"></span>

  <span class="pixel row22 column26 uniform-pants"></span>
  <span class="pixel row22 column26 shade"></span>
  <span class="pixel row22 column26 shade"></span>

  <span class="pixel row22 column27 uniform-pants"></span>
  <span class="pixel row22 column27 shade"></span>
  <span class="pixel row22 column27 shade"></span>


  <!-- row 23 -->
  <span class="pixel row23 column17 uniform-pants"></span>
  <span class="pixel row23 column17 shade"></span>

  <span class="pixel row23 column18 uniform-pants"></span>

  <span class="pixel row23 column19 uniform-medium"></span>

  <span class="pixel row23 column20 uniform-medium"></span>
  <span class="pixel row23 column20 shade"></span>

  <span class="pixel row23 column21 uniform-pants"></span>

  <span class="pixel row23 column22 uniform-pants"></span>

  <span class="pixel row23 column23 uniform-pants"></span>
  <span class="pixel row23 column23 shade"></span>

  <span class="pixel row23 column24 uniform-pants"></span>
  <span class="pixel row23 column24 shade"></span>

  <span class="pixel row23 column25 uniform-pants"></span>
  <span class="pixel row23 column25 shade"></span>

  <span class="pixel row23 column26 uniform-pants"></span>
  <span class="pixel row23 column26 shade"></span>
  <span class="pixel row23 column26 shade"></span>

  <span class="pixel row23 column27 uniform-pants"></span>
  <span class="pixel row23 column27 shade"></span>
  <span class="pixel row23 column27 shade"></span>


  <!-- row 24 -->
  <span class="pixel row24 column18 uniform-pants"></span>

  <span class="pixel row24 column19 uniform-medium"></span>

  <span class="pixel row24 column20 uniform-medium"></span>
  <span class="pixel row24 column20 shade"></span>

  <span class="pixel row24 column21 uniform-pants"></span>

  <span class="pixel row24 column22 uniform-pants"></span>
  <span class="pixel row24 column22 shade"></span>

  <span class="pixel row24 column23 uniform-pants"></span>
  <span class="pixel row24 column23 shade"></span>

  <span class="pixel row24 column24 uniform-pants"></span>
  <span class="pixel row24 column24 shade"></span>
  <span class="pixel row24 column24 shade"></span>

  <span class="pixel row24 column25 uniform-pants"></span>
  <span class="pixel row24 column25 shade"></span>
  <span class="pixel row24 column25 shade"></span>

  <span class="pixel row24 column26 uniform-pants"></span>
  <span class="pixel row24 column26 shade"></span>
  <span class="pixel row24 column26 shade"></span>

  <span class="pixel row24 column27 uniform-pants"></span>
  <span class="pixel row24 column27 shade"></span>
  <span class="pixel row24 column27 shade"></span>

  <span class="pixel row24 column28 uniform-pants"></span>
  <span class="pixel row24 column28 shade"></span>
  <span class="pixel row24 column28 shade"></span>


  <!-- row 25 -->
  <span class="pixel row25 column18 uniform-pants"></span>

  <span class="pixel row25 column19 uniform-medium"></span>

  <span class="pixel row25 column20 uniform-medium"></span>
  <span class="pixel row25 column20 shade"></span>

  <span class="pixel row25 column21 uniform-pants"></span>

  <span class="pixel row25 column22 uniform-pants"></span>
  <span class="pixel row25 column22 shade"></span>

  <span class="pixel row25 column23 uniform-pants"></span>
  <span class="pixel row25 column23 shade"></span>

  <span class="pixel row25 column24 uniform-pants"></span>
  <span class="pixel row25 column24 shade"></span>
  <span class="pixel row25 column24 shade"></span>

  <span class="pixel row25 column25 uniform-pants"></span>
  <span class="pixel row25 column25 shade"></span>
  <span class="pixel row25 column25 shade"></span>

  <span class="pixel row25 column26 uniform-pants"></span>
  <span class="pixel row25 column26 shade"></span>
  <span class="pixel row25 column26 shade"></span>

  <span class="pixel row25 column27 uniform-pants"></span>
  <span class="pixel row25 column27 shade"></span>
  <span class="pixel row25 column27 shade"></span>

  <span class="pixel row25 column28 uniform-pants"></span>
  <span class="pixel row25 column28 shade"></span>
  <span class="pixel row25 column28 shade"></span>


  <!-- row 26 -->
  <span class="pixel row26 column17 uniform-pants"></span>

  <span class="pixel row26 column18 uniform-pants"></span>

  <span class="pixel row26 column19 uniform-medium"></span>

  <span class="pixel row26 column20 uniform-medium"></span>
  <span class="pixel row26 column20 shade"></span>

  <span class="pixel row26 column21 uniform-pants"></span>

  <span class="pixel row26 column22 uniform-pants"></span>
  <span class="pixel row26 column22 shade"></span>

  <span class="pixel row26 column24 uniform-dark"></span>
  <span class="pixel row26 column24 shade"></span>
  <span class="pixel row26 column24 shade"></span>

  <span class="pixel row26 column25 uniform-dark"></span>
  <span class="pixel row26 column25 shade"></span>
  <span class="pixel row26 column25 shade"></span>

  <span class="pixel row26 column26 uniform-dark"></span>
  <span class="pixel row26 column26 shade"></span>
  <span class="pixel row26 column26 shade"></span>

  <span class="pixel row26 column27 uniform-dark"></span>
  <span class="pixel row26 column27 shade"></span>
  <span class="pixel row26 column27 shade"></span>

  <span class="pixel row26 column28 uniform-dark"></span>
  <span class="pixel row26 column28 shade"></span>
  <span class="pixel row26 column28 shade"></span>


  <!-- row 27 -->
  <span class="pixel row27 column17 uniform-pants"></span>
  <span class="pixel row27 column17 shade"></span>

  <span class="pixel row27 column18 uniform-medium"></span>

  <span class="pixel row27 column19 uniform-medium"></span>
  <span class="pixel row27 column19 shade"></span>

  <span class="pixel row27 column20 uniform-pants"></span>

  <span class="pixel row27 column21 uniform-pants"></span>
  <span class="pixel row27 column21 shade"></span>

  <span class="pixel row27 column24 uniform-dark-alt"></span>
  <span class="pixel row27 column24 shade"></span>
  <span class="pixel row27 column24 shade"></span>

  <span class="pixel row27 column25 uniform-dark-alt"></span>
  <span class="pixel row27 column25 shade"></span>

  <span class="pixel row27 column26 uniform-dark-alt"></span>
  <span class="pixel row27 column26 shade"></span>
  <span class="pixel row27 column26 shade"></span>

  <span class="pixel row27 column27 uniform-dark-alt"></span>
  <span class="pixel row27 column27 shade"></span>
  <span class="pixel row27 column27 shade"></span>

  <span class="pixel row27 column28 uniform-dark-alt"></span>
  <span class="pixel row27 column28 shade"></span>
  <span class="pixel row27 column28 shade"></span>


  <!-- row 28 -->
  <span class="pixel row28 column16 uniform-light"></span>
  <span class="pixel row28 column16 shade"></span>
  <span class="pixel row28 column16 shade"></span>

  <span class="pixel row28 column17 uniform-dark"></span>
  <span class="pixel row28 column17 shade"></span>
  <span class="pixel row28 column17 shade"></span>

  <span class="pixel row28 column18 uniform-dark"></span>
  <span class="pixel row28 column18 shade"></span>
  <span class="pixel row28 column18 shade"></span>

  <span class="pixel row28 column19 uniform-dark"></span>
  <span class="pixel row28 column19 shade"></span>
  <span class="pixel row28 column19 shade"></span>

  <span class="pixel row28 column20 uniform-dark"></span>
  <span class="pixel row28 column20 shade"></span>
  <span class="pixel row28 column20 shade"></span>

  <span class="pixel row28 column24 uniform-light"></span>

  <span class="pixel row28 column25 uniform-light"></span>

  <span class="pixel row28 column26 uniform-light"></span>
  <span class="pixel row28 column26 shade"></span>

  <span class="pixel row28 column27 uniform-light"></span>
  <span class="pixel row28 column27 shade"></span>


  <!-- row 29 -->
  <span class="pixel row29 column16 uniform-dark-alt"></span>

  <span class="pixel row29 column17 uniform-dark-alt"></span>
  <span class="pixel row29 column17 shade"></span>

  <span class="pixel row29 column18 uniform-dark-alt"></span>
  <span class="pixel row29 column18 shade"></span>
  <span class="pixel row29 column18 shade"></span>
  
  <span class="pixel row29 column19 uniform-dark-alt"></span>

  <span class="pixel row29 column20 uniform-dark-alt"></span>
  <span class="pixel row29 column20 shade"></span>

  <span class="pixel row29 column24 uniform-dark"></span>

  <span class="pixel row29 column25 uniform-dark"></span>

  <span class="pixel row29 column26 uniform-dark"></span>
  <span class="pixel row29 column26 shade"></span>

  <span class="pixel row29 column27 uniform-light"></span>


  <!-- row 30 -->
  <span class="pixel row30 column16 uniform-dark"></span>

  <span class="pixel row30 column17 uniform-light"></span>

  <span class="pixel row30 column18 uniform-light"></span>

  <span class="pixel row30 column19 uniform-light"></span>
  <span class="pixel row30 column19 shade"></span>

  <span class="pixel row30 column24 black"></span>

  <span class="pixel row30 column25 black"></span>

  <span class="pixel row30 column26 black"></span>

  <span class="pixel row30 column27 black"></span>

  <span class="pixel row30 column28 black"></span>


  <!-- row 31 -->
  <span class="pixel row31 column16 black"></span>

  <span class="pixel row31 column17 black"></span>

  <span class="pixel row31 column18 black"></span>

  <span class="pixel row31 column19 black"></span>

  <span class="pixel row31 column24 black"></span>

  <span class="pixel row31 column25 black"></span>

  <span class="pixel row31 column26 black"></span>

  <span class="pixel row31 column27 black"></span>

  <span class="pixel row31 column28 black"></span>

  <span class="pixel row31 column29 black"></span>


  <!-- row 32 -->
  <span class="pixel row32 column16 black"></span>

  <span class="pixel row32 column17 black"></span>

  <span class="pixel row32 column18 black"></span>

  <span class="pixel row32 column19 black"></span>

  <span class="pixel row32 column20 black"></span>

  <span class="pixel row32 column23 ice"></span>

  <span class="pixel row32 column24 black"></span>

  <span class="pixel row32 column25 black"></span>

  <span class="pixel row32 column26 black"></span>

  <span class="pixel row32 column27 black"></span>

  <span class="pixel row32 column28 black"></span>

  <span class="pixel row32 column29 black"></span>

  <span class="pixel row32 column30 ice"></span>


  <!-- row 33 -->
  <span class="pixel row33 column14 ice"></span>

  <span class="pixel row33 column15 ice"></span>

  <span class="pixel row33 column16 black"></span>

  <span class="pixel row33 column17 black"></span>

  <span class="pixel row33 column18 black"></span>

  <span class="pixel row33 column19 black"></span>

  <span class="pixel row33 column20 black"></span>

  <span class="pixel row33 column21 black"></span>

  <span class="pixel row33 column22 ice"></span>

  <span class="pixel row33 column23 ice"></span>

  <span class="pixel row33 column24 black"></span>

  <span class="pixel row33 column25 black"></span>

  <span class="pixel row33 column26 black"></span>

  <span class="pixel row33 column27 black"></span>

  <span class="pixel row33 column28 black"></span>

  <span class="pixel row33 column29 black"></span>

  <span class="pixel row33 column30 ice"></span>

  <span class="pixel row33 column31 ice"></span>

  <span class="pixel row33 column32 ice"></span>

  <span class="pixel row33 column33 ice"></span>


  <!-- row 34 -->
  <span class="pixel row34 column14 ice"></span>

  <span class="pixel row34 column15 ice"></span>

  <span class="pixel row34 column16 black"></span>

  <span class="pixel row34 column17 black"></span>

  <span class="pixel row34 column18 black"></span>

  <span class="pixel row34 column19 black"></span>

  <span class="pixel row34 column20 black"></span>

  <span class="pixel row34 column21 black"></span>

  <span class="pixel row34 column22 ice"></span>

  <span class="pixel row34 column23 ice"></span>

  <span class="pixel row34 column24 ice"></span>

  <span class="pixel row34 column25 ice"></span>

  <span class="pixel row34 column26 ice"></span>

  <span class="pixel row34 column27 ice"></span>

  <span class="pixel row34 column28 ice"></span>

  <span class="pixel row34 column29 ice"></span>

  <span class="pixel row34 column30 ice"></span>


  <!-- row 35 -->
  <span class="pixel row35 column14 ice"></span>

  <span class="pixel row35 column15 ice"></span>

  <span class="pixel row35 column16 ice"></span>

  <span class="pixel row35 column17 black"></span>

  <span class="pixel row35 column18 black"></span>

  <span class="pixel row35 column19 black"></span>

  <span class="pixel row35 column20 black"></span>

  <span class="pixel row35 column21 black"></span>

  <span class="pixel row35 column22 ice"></span>

  <span class="pixel row35 column23 ice"></span>

  <span class="pixel row35 column24 ice"></span>

  <span class="pixel row35 column26 ice"></span>

  <span class="pixel row35 column31 ice"></span>


  <!-- row 36 -->
  <span class="pixel row36 column17 ice"></span>

  <span class="pixel row36 column18 ice"></span>

  <span class="pixel row36 column19 ice"></span>

  <span class="pixel row36 column20 ice"></span>

  <span class="pixel row36 column21 ice"></span>

  <span class="pixel row36 column22 ice"></span>

  <span class="pixel row36 column23 ice"></span>


  <!-- row 37 -->
  <span class="pixel row37 column19 ice"></span>

  <span class="pixel row37 column20 ice"></span>

  <span class="pixel row37 column21 ice"></span>

  <span class="pixel row37 column24 ice"></span>


  <!-- row 38 -->
  <span class="pixel row38 column22 ice"></span>



</div>
