<div class="enforcer {{teamName}} {{jersey}} {{hand}}">
  
  
  <!-- row 4 -->
  <span class="pixel row4 column22 uniform-helmet"></span>
  <span class="pixel row4 column22 shade"></span>

  <span class="pixel row4 column23 uniform-helmet"></span>
  
  <span class="pixel row4 column24 uniform-helmet"></span>


  <!-- row 5 -->
  <span class="pixel row5 column21 uniform-helmet"></span>
  <span class="pixel row5 column21 shade"></span>
  <span class="pixel row5 column21 shade"></span>

  <span class="pixel row5 column22 uniform-helmet"></span>

  <span class="pixel row5 column23 uniform-helmet"></span>

  <span class="pixel row5 column24 uniform-helmet"></span>
  <span class="pixel row5 column24 shade"></span>

  <span class="pixel row5 column25 uniform-helmet"></span>
  <span class="pixel row5 column25 shade"></span>
  <span class="pixel row5 column25 shade"></span>


  <!-- row 6 -->
  <span class="pixel row6 column21 uniform-helmet"></span>
  <span class="pixel row6 column21 shade"></span>
  <span class="pixel row6 column21 shade"></span>

  <span class="pixel row6 column22 uniform-helmet"></span>

  <span class="pixel row6 column23 uniform-helmet"></span>

  <span class="pixel row6 column24 uniform-helmet"></span>
  <span class="pixel row6 column24 shade"></span>

  <span class="pixel row6 column25 uniform-helmet"></span>
  <span class="pixel row6 column25 shade"></span>
  <span class="pixel row6 column25 shade"></span>


  <!-- row 7 -->
  <span class="pixel row7 column21 uniform-helmet"></span>
  <span class="pixel row7 column21 shade"></span>
  <span class="pixel row7 column21 shade"></span>

  <span class="pixel row7 column22 uniform-helmet"></span>

  <span class="pixel row7 column23 uniform-helmet"></span>
  <span class="pixel row7 column23 shade"></span>

  <span class="pixel row7 column24 skin"></span>
  <span class="pixel row7 column24 shade"></span>

  <span class="pixel row7 column25 skin"></span>
  <span class="pixel row7 column25 shade"></span>


  <!-- row 8 -->
  <span class="pixel row8 column21 uniform-helmet"></span>
  <span class="pixel row8 column21 shade"></span>
  <span class="pixel row8 column21 shade"></span>

  <span class="pixel row8 column22 uniform-helmet"></span>
  <span class="pixel row8 column22 shade"></span>
  <span class="pixel row8 column22 shade"></span>

  <span class="pixel row8 column23 skin"></span>
  <span class="pixel row8 column23 shade"></span>

  <span class="pixel row8 column24 eyes"></span>

  <span class="pixel row8 column25 skin"></span>


  <!-- row 9 -->
  <span class="pixel row9 column20 uniform-light"></span>
  <span class="pixel row9 column20 shade"></span>

  <span class="pixel row9 column21 skin"></span>
  <span class="pixel row9 column21 shade"></span>

  <span class="pixel row9 column22 skin"></span>
  <span class="pixel row9 column22 shade"></span>

  <span class="pixel row9 column23 skin"></span>

  <span class="pixel row9 column24 skin"></span>
  <span class="pixel row9 column24 shade"></span>

  <span class="pixel row9 column25 skin"></span>

  <span class="pixel row9 column26 uniform-dark"></span>
  <span class="pixel row9 column26 shade"></span>


  <!-- row 10 -->
  <span class="pixel row10 column18 uniform-dark"></span>

  <span class="pixel row10 column19 uniform-light"></span>
  <span class="pixel row10 column19 shade"></span>

  <span class="pixel row10 column20 uniform-dark-alt"></span>

  <span class="pixel row10 column21 skin"></span>
  <span class="pixel row10 column21 shade"></span>

  <span class="pixel row10 column22 skin"></span>
  <span class="pixel row10 column22 shade"></span>

  <span class="pixel row10 column23 skin"></span>
  <span class="pixel row10 column23 shade"></span>

  <span class="pixel row10 column24 skin"></span>
  <span class="pixel row10 column24 shade"></span>

  <span class="pixel row10 column25 uniform-dark"></span>
  <span class="pixel row10 column25 shade"></span>

  <span class="pixel row10 column26 uniform-dark"></span>
  <span class="pixel row10 column26 shade"></span>

  <span class="pixel row10 column27 uniform-light"></span>
  <span class="pixel row10 column27 shade"></span>


  <!-- row 11 -->
  <span class="pixel row11 column17 uniform-dark"></span>

  <span class="pixel row11 column18 uniform-light"></span>

  <span class="pixel row11 column19 uniform-dark-alt"></span>

  <span class="pixel row11 column20 uniform-dark-alt"></span>

  <span class="pixel row11 column21 uniform-dark-alt"></span>

  <span class="pixel row11 column22 skin"></span>
  <span class="pixel row11 column22 shade"></span>

  <span class="pixel row11 column23 uniform-dark-alt"></span>

  <span class="pixel row11 column24 uniform-light"></span>
  <span class="pixel row11 column24 shade"></span>

  <span class="pixel row11 column25 uniform-dark"></span>
  <span class="pixel row11 column25 shade"></span>

  <span class="pixel row11 column26 uniform-light"></span>

  <span class="pixel row11 column27 uniform-dark-alt"></span>

  <span class="pixel row11 column28 uniform-dark"></span>
  <span class="pixel row11 column28 shade"></span>

  <span class="pixel row11 column29 skin"></span>
  <span class="pixel row11 column29 shade"></span>

  <span class="pixel row11 column30 skin"></span>
  <span class="pixel row11 column30 shade"></span>


  <!-- row 12 -->
  <span class="pixel row12 column17 uniform-dark"></span>

  <span class="pixel row12 column18 uniform-light"></span>

  <span class="pixel row12 column19 uniform-dark-alt"></span>

  <span class="pixel row12 column20 uniform-dark-alt"></span>

  <span class="pixel row12 column21 uniform-light"></span>

  <span class="pixel row12 column22 uniform-light"></span>

  <span class="pixel row12 column23 uniform-light"></span>

  <span class="pixel row12 column24 uniform-dark"></span>

  <span class="pixel row12 column25 uniform-dark"></span>

  <span class="pixel row12 column26 uniform-light"></span>
  <span class="pixel row12 column26 shade"></span>

  <span class="pixel row12 column27 uniform-dark-alt"></span>

  <span class="pixel row12 column28 skin"></span>
  <span class="pixel row12 column28 shade"></span>

  <span class="pixel row12 column29 skin"></span>

  <span class="pixel row12 column30 skin"></span>
  <span class="pixel row12 column30 shade"></span>

  <span class="pixel row12 column31 skin"></span>
  <span class="pixel row12 column31 shade"></span>


  <!-- row 13 -->
  <span class="pixel row13 column17 uniform-dark"></span>

  <span class="pixel row13 column18 uniform-dark"></span>

  <span class="pixel row13 column19 uniform-light"></span>
  <span class="pixel row13 column19 shade"></span>

  <span class="pixel row13 column20 uniform-light"></span>
  <span class="pixel row13 column20 shade"></span>

  <span class="pixel row13 column21 uniform-dark"></span>

  <span class="pixel row13 column22 uniform-dark"></span>

  <span class="pixel row13 column23 uniform-dark"></span>

  <span class="pixel row13 column24 uniform-dark"></span>

  <span class="pixel row13 column25 uniform-dark"></span>
  <span class="pixel row13 column25 shade"></span>
  <span class="pixel row13 column25 shade"></span>

  <span class="pixel row13 column26 uniform-dark"></span>
  <span class="pixel row13 column26 shade"></span>
  <span class="pixel row13 column26 shade"></span>

  <span class="pixel row13 column27 uniform-light"></span>
  <span class="pixel row13 column27 shade"></span>

  <span class="pixel row13 column28 uniform-dark"></span>
  <span class="pixel row13 column28 shade"></span>
  <span class="pixel row13 column28 shade"></span>

  <span class="pixel row13 column29 skin"></span>
  <span class="pixel row13 column29 shade"></span>

  <span class="pixel row13 column30 skin"></span>

  <span class="pixel row13 column31 skin"></span>
  <span class="pixel row13 column31 shade"></span>


  <!-- row 14 -->
  <span class="pixel row14 column16 uniform-dark"></span>
  <span class="pixel row14 column16 shade"></span>

  <span class="pixel row14 column17 uniform-dark"></span>

  <span class="pixel row14 column18 uniform-dark"></span>

  <span class="pixel row14 column19 uniform-dark"></span>

  <span class="pixel row14 column20 uniform-dark"></span>

  <span class="pixel row14 column21 uniform-dark"></span>
  <span class="pixel row14 column21 shade"></span>
  <span class="pixel row14 column21 shade"></span>

  <span class="pixel row14 column22 uniform-dark"></span>

  <span class="pixel row14 column23 uniform-dark"></span>
  <span class="pixel row14 column23 shade"></span>

  <span class="pixel row14 column24 uniform-dark"></span>
  <span class="pixel row14 column24 shade"></span>

  <span class="pixel row14 column25 uniform-dark"></span>
  <span class="pixel row14 column25 shade"></span>
  <span class="pixel row14 column25 shade"></span>

  <span class="pixel row14 column27 uniform-dark"></span>
  <span class="pixel row14 column27 shade"></span>
  <span class="pixel row14 column27 shade"></span>

  <span class="pixel row14 column28 uniform-dark"></span>
  <span class="pixel row14 column28 shade"></span>

  <span class="pixel row14 column29 uniform-dark"></span>
  <span class="pixel row14 column29 shade"></span>

  <span class="pixel row14 column30 skin"></span>
  <span class="pixel row14 column30 shade"></span>

  <span class="pixel row14 column31 uniform-dark"></span>
  <span class="pixel row14 column31 shade"></span>


  <!-- row 15 -->
  <span class="pixel row15 column16 uniform-dark"></span>
  <span class="pixel row15 column16 shade"></span>

  <span class="pixel row15 column17 uniform-light"></span>
  <span class="pixel row15 column17 shade"></span>

  <span class="pixel row15 column18 uniform-dark"></span>

  <span class="pixel row15 column19 uniform-dark"></span>

  <span class="pixel row15 column20 uniform-dark"></span>
  <span class="pixel row15 column20 shade"></span>

  <span class="pixel row15 column21 uniform-dark"></span>
  <span class="pixel row15 column21 shade"></span>
  <span class="pixel row15 column21 shade"></span>

  <span class="pixel row15 column22 uniform-dark"></span>

  <span class="pixel row15 column23 uniform-dark"></span>
  <span class="pixel row15 column23 shade"></span>

  <span class="pixel row15 column24 skin"></span>

  <span class="pixel row15 column25 skin"></span>

  <span class="pixel row15 column26 skin"></span>
  <span class="pixel row15 column26 shade"></span>

  <span class="pixel row15 column28 uniform-dark"></span>

  <span class="pixel row15 column29 uniform-dark"></span>

  <span class="pixel row15 column30 uniform-dark"></span>
  <span class="pixel row15 column30 shade"></span>

  <span class="pixel row15 column31 uniform-dark"></span>
  <span class="pixel row15 column31 shade"></span>


  <!-- row 16 -->
  <span class="pixel row16 column16 uniform-dark"></span>
  <span class="pixel row16 column16 shade"></span>
  <span class="pixel row16 column16 shade"></span>

  <span class="pixel row16 column17 uniform-dark-alt"></span>

  <span class="pixel row16 column18 uniform-light"></span>
  <span class="pixel row16 column18 shade"></span>

  <span class="pixel row16 column19 uniform-light"></span>
  <span class="pixel row16 column19 shade"></span>

  <span class="pixel row16 column20 uniform-dark"></span>
  <span class="pixel row16 column20 shade"></span>
  <span class="pixel row16 column20 shade"></span>

  <span class="pixel row16 column21 uniform-dark"></span>
  <span class="pixel row16 column21 shade"></span>
  <span class="pixel row16 column21 shade"></span>

  <span class="pixel row16 column22 uniform-dark"></span>
  <span class="pixel row16 column22 shade"></span>
  <span class="pixel row16 column22 shade"></span>

  <span class="pixel row16 column23 uniform-dark"></span>
  <span class="pixel row16 column23 shade"></span>
  <span class="pixel row16 column23 shade"></span>

  <span class="pixel row16 column24 skin"></span>
  <span class="pixel row16 column24 shade"></span>

  <span class="pixel row16 column25 skin"></span>

  <span class="pixel row16 column26 skin"></span>
  <span class="pixel row16 column26 shade"></span>

  <span class="pixel row16 column29 uniform-dark"></span>

  <span class="pixel row16 column30 uniform-dark"></span>


  <!-- row 17 -->
  <span class="pixel row17 column16 uniform-dark"></span>
  <span class="pixel row17 column16 shade"></span>
  <span class="pixel row17 column16 shade"></span>

  <span class="pixel row17 column17 uniform-light"></span>
  <span class="pixel row17 column17 shade"></span>
  <span class="pixel row17 column17 shade"></span>

  <span class="pixel row17 column18 uniform-dark-alt"></span>

  <span class="pixel row17 column19 uniform-dark-alt"></span>

  <span class="pixel row17 column20 uniform-light"></span>
  <span class="pixel row17 column20 shade"></span>

  <span class="pixel row17 column21 uniform-dark"></span>
  <span class="pixel row17 column21 shade"></span>

  <span class="pixel row17 column22 uniform-dark"></span>

  <span class="pixel row17 column23 uniform-dark"></span>

  <span class="pixel row17 column24 skin"></span>
  <span class="pixel row17 column24 shade"></span>

  <span class="pixel row17 column25 skin"></span>
  <span class="pixel row17 column25 shade"></span>

  <span class="pixel row17 column26 skin"></span>
  <span class="pixel row17 column26 shade"></span>

</div>
