<div class="star">
  
    <!-- row 20 -->
    <span class="pixel row20 column22 outline"></span>

    <span class="pixel row20 column23 outline"></span>

    <span class="pixel row20 column24 outline"></span>


    <!-- row 21 -->
    <span class="pixel row21 column21 outline"></span>

    <span class="pixel row21 column22 outline"></span>

    <span class="pixel row21 column23 ice"></span>
    <span class="pixel row21 column23 glare"></span>

    <span class="pixel row21 column24 outline"></span>

    <span class="pixel row21 column25 outline"></span>


    <!-- row 22 -->
    <span class="pixel row22 column20 outline"></span>

    <span class="pixel row22 column21 outline"></span>

    <span class="pixel row22 column22 ice"></span>

    <span class="pixel row22 column23 ice"></span>

    <span class="pixel row22 column24 ice"></span>
    <span class="pixel row22 column24 glare"></span>

    <span class="pixel row22 column25 outline"></span>

    <span class="pixel row22 column26 outline"></span>


    <!-- row 23 -->
    <span class="pixel row23 column19 outline"></span>

    <span class="pixel row23 column20 outline"></span>

    <span class="pixel row23 column21 ice"></span>

    <span class="pixel row23 column22 ice"></span>

    <span class="pixel row23 column23 ice"></span>

    <span class="pixel row23 column24 ice"></span>

    <span class="pixel row23 column25 ice"></span>
    <span class="pixel row23 column25 glare"></span>

    <span class="pixel row23 column26 outline"></span>

    <span class="pixel row23 column27 outline"></span>


    <!-- row 24 -->
    <span class="pixel row24 column5 outline"></span>

    <span class="pixel row24 column6 outline"></span>

    <span class="pixel row24 column7 outline"></span>

    <span class="pixel row24 column8 outline"></span>

    <span class="pixel row24 column9 outline"></span>

    <span class="pixel row24 column10 outline"></span>

    <span class="pixel row24 column11 outline"></span>

    <span class="pixel row24 column12 outline"></span>

    <span class="pixel row24 column13 outline"></span>

    <span class="pixel row24 column14 outline"></span>

    <span class="pixel row24 column15 outline"></span>

    <span class="pixel row24 column16 outline"></span>

    <span class="pixel row24 column17 outline"></span>

    <span class="pixel row24 column18 outline"></span>

    <span class="pixel row24 column19 outline"></span>

    <span class="pixel row24 column20 ice"></span>

    <span class="pixel row24 column21 ice"></span>

    <span class="pixel row24 column22 ice"></span>

    <span class="pixel row24 column23 ice"></span>

    <span class="pixel row24 column24 ice"></span>

    <span class="pixel row24 column25 ice"></span>

    <span class="pixel row24 column26 ice"></span>
    <span class="pixel row24 column26 glare"></span>

    <span class="pixel row24 column27 outline"></span>

    <span class="pixel row24 column28 outline"></span>

    <span class="pixel row24 column29 outline"></span>

    <span class="pixel row24 column30 outline"></span>

    <span class="pixel row24 column31 outline"></span>

    <span class="pixel row24 column32 outline"></span>

    <span class="pixel row24 column33 outline"></span>

    <span class="pixel row24 column34 outline"></span>

    <span class="pixel row24 column35 outline"></span>

    <span class="pixel row24 column36 outline"></span>

    <span class="pixel row24 column37 outline"></span>

    <span class="pixel row24 column38 outline"></span>

    <span class="pixel row24 column39 outline"></span>

    <span class="pixel row24 column40 outline"></span>

    <span class="pixel row24 column41 outline"></span>


    <!-- row 25 -->
    <span class="pixel row25 column6 outline"></span>

    <span class="pixel row25 column7 outline"></span>

    <span class="pixel row25 column8 outline"></span>

    <span class="pixel row25 column9 ice"></span>

    <span class="pixel row25 column10 ice"></span>

    <span class="pixel row25 column11 ice"></span>

    <span class="pixel row25 column12 ice"></span>

    <span class="pixel row25 column13 ice"></span>

    <span class="pixel row25 column14 ice"></span>

    <span class="pixel row25 column15 ice"></span>

    <span class="pixel row25 column16 ice"></span>

    <span class="pixel row25 column17 ice"></span>

    <span class="pixel row25 column18 ice"></span>

    <span class="pixel row25 column19 ice"></span>

    <span class="pixel row25 column20 ice"></span>

    <span class="pixel row25 column21 ice"></span>

    <span class="pixel row25 column22 ice"></span>

    <span class="pixel row25 column23 ice"></span>

    <span class="pixel row25 column24 ice"></span>

    <span class="pixel row25 column25 ice"></span>

    <span class="pixel row25 column26 ice"></span>

    <span class="pixel row25 column27 ice"></span>

    <span class="pixel row25 column28 ice"></span>

    <span class="pixel row25 column29 ice"></span>

    <span class="pixel row25 column30 ice"></span>

    <span class="pixel row25 column31 ice"></span>

    <span class="pixel row25 column32 ice"></span>

    <span class="pixel row25 column33 ice"></span>

    <span class="pixel row25 column34 ice"></span>

    <span class="pixel row25 column35 ice"></span>

    <span class="pixel row25 column36 ice"></span>

    <span class="pixel row25 column37 ice"></span>
    <span class="pixel row25 column37 glare"></span>

    <span class="pixel row25 column38 outline"></span>

    <span class="pixel row25 column39 outline"></span>

    <span class="pixel row25 column40 outline"></span>


    <!-- row 26 -->
    <span class="pixel row26 column8 outline"></span>

    <span class="pixel row26 column9 outline"></span>

    <span class="pixel row26 column10 outline"></span>

    <span class="pixel row26 column11 ice"></span>

    <span class="pixel row26 column12 ice"></span>

    <span class="pixel row26 column13 ice"></span>

    <span class="pixel row26 column14 ice"></span>

    <span class="pixel row26 column15 ice"></span>

    <span class="pixel row26 column16 ice"></span>

    <span class="pixel row26 column17 ice"></span>

    <span class="pixel row26 column18 ice"></span>

    <span class="pixel row26 column19 ice"></span>

    <span class="pixel row26 column20 ice"></span>

    <span class="pixel row26 column21 ice"></span>

    <span class="pixel row26 column22 ice"></span>

    <span class="pixel row26 column23 ice"></span>

    <span class="pixel row26 column24 ice"></span>

    <span class="pixel row26 column25 ice"></span>

    <span class="pixel row26 column26 ice"></span>

    <span class="pixel row26 column27 ice"></span>

    <span class="pixel row26 column28 ice"></span>

    <span class="pixel row26 column29 ice"></span>

    <span class="pixel row26 column30 ice"></span>

    <span class="pixel row26 column31 ice"></span>

    <span class="pixel row26 column32 ice"></span>

    <span class="pixel row26 column33 ice"></span>

    <span class="pixel row26 column34 ice"></span>

    <span class="pixel row26 column35 ice"></span>
    <span class="pixel row26 column35 glare"></span>

    <span class="pixel row26 column36 outline"></span>

    <span class="pixel row26 column37 outline"></span>

    <span class="pixel row26 column38 outline"></span>


    <!-- row 27 -->
    <span class="pixel row27 column10 outline"></span>

    <span class="pixel row27 column11 outline"></span>

    <span class="pixel row27 column12 outline"></span>

    <span class="pixel row27 column13 ice"></span>

    <span class="pixel row27 column14 ice"></span>

    <span class="pixel row27 column15 ice"></span>

    <span class="pixel row27 column16 ice"></span>

    <span class="pixel row27 column17 ice"></span>

    <span class="pixel row27 column18 ice"></span>

    <span class="pixel row27 column19 ice"></span>

    <span class="pixel row27 column20 ice"></span>

    <span class="pixel row27 column21 ice"></span>

    <span class="pixel row27 column22 ice"></span>

    <span class="pixel row27 column23 ice"></span>

    <span class="pixel row27 column24 ice"></span>

    <span class="pixel row27 column25 ice"></span>

    <span class="pixel row27 column26 ice"></span>

    <span class="pixel row27 column27 ice"></span>

    <span class="pixel row27 column28 ice"></span>

    <span class="pixel row27 column29 ice"></span>

    <span class="pixel row27 column30 ice"></span>

    <span class="pixel row27 column31 ice"></span>

    <span class="pixel row27 column32 ice"></span>

    <span class="pixel row27 column33 ice"></span>
    <span class="pixel row27 column33 glare"></span>

    <span class="pixel row27 column34 outline"></span>

    <span class="pixel row27 column35 outline"></span>

    <span class="pixel row27 column36 outline"></span>


    <!-- row 28 -->
    <span class="pixel row28 column12 outline"></span>

    <span class="pixel row28 column13 outline"></span>

    <span class="pixel row28 column14 ice"></span>

    <span class="pixel row28 column15 ice"></span>

    <span class="pixel row28 column16 ice"></span>

    <span class="pixel row28 column17 ice"></span>

    <span class="pixel row28 column18 ice"></span>

    <span class="pixel row28 column19 ice"></span>

    <span class="pixel row28 column20 ice"></span>

    <span class="pixel row28 column21 ice"></span>

    <span class="pixel row28 column22 ice"></span>

    <span class="pixel row28 column23 ice"></span>

    <span class="pixel row28 column24 ice"></span>

    <span class="pixel row28 column25 ice"></span>

    <span class="pixel row28 column26 ice"></span>

    <span class="pixel row28 column27 ice"></span>

    <span class="pixel row28 column28 ice"></span>

    <span class="pixel row28 column29 ice"></span>

    <span class="pixel row28 column30 ice"></span>

    <span class="pixel row28 column31 ice"></span>

    <span class="pixel row28 column32 ice"></span>
    <span class="pixel row28 column32 glare"></span>

    <span class="pixel row28 column33 outline"></span>

    <span class="pixel row28 column34 outline"></span>


    <!-- row 29 -->
    <span class="pixel row29 column11 outline"></span>

    <span class="pixel row29 column12 outline"></span>

    <span class="pixel row29 column13 ice"></span>

    <span class="pixel row29 column14 ice"></span>

    <span class="pixel row29 column15 ice"></span>

    <span class="pixel row29 column16 ice"></span>

    <span class="pixel row29 column17 ice"></span>

    <span class="pixel row29 column18 ice"></span>

    <span class="pixel row29 column19 ice"></span>

    <span class="pixel row29 column20 ice"></span>

    <span class="pixel row29 column21 ice"></span>

    <span class="pixel row29 column22 ice"></span>

    <span class="pixel row29 column23 ice"></span>

    <span class="pixel row29 column24 ice"></span>

    <span class="pixel row29 column25 ice"></span>

    <span class="pixel row29 column26 ice"></span>

    <span class="pixel row29 column27 ice"></span>

    <span class="pixel row29 column28 ice"></span>

    <span class="pixel row29 column29 ice"></span>

    <span class="pixel row29 column30 ice"></span>

    <span class="pixel row29 column31 ice"></span>

    <span class="pixel row29 column32 ice"></span>

    <span class="pixel row29 column33 ice"></span>
    <span class="pixel row29 column33 glare"></span>

    <span class="pixel row29 column34 outline"></span>

    <span class="pixel row29 column35 outline"></span>


    <!-- row 30 -->
    <span class="pixel row30 column10 outline"></span>

    <span class="pixel row30 column11 outline"></span>

    <span class="pixel row30 column12 ice"></span>

    <span class="pixel row30 column13 ice"></span>

    <span class="pixel row30 column14 ice"></span>

    <span class="pixel row30 column15 ice"></span>

    <span class="pixel row30 column16 ice"></span>

    <span class="pixel row30 column17 ice"></span>

    <span class="pixel row30 column18 ice"></span>

    <span class="pixel row30 column19 ice"></span>

    <span class="pixel row30 column20 ice"></span>

    <span class="pixel row30 column21 ice"></span>

    <span class="pixel row30 column22 ice"></span>

    <span class="pixel row30 column23 ice"></span>

    <span class="pixel row30 column24 ice"></span>

    <span class="pixel row30 column25 ice"></span>

    <span class="pixel row30 column26 ice"></span>

    <span class="pixel row30 column27 ice"></span>

    <span class="pixel row30 column28 ice"></span>

    <span class="pixel row30 column29 ice"></span>

    <span class="pixel row30 column30 ice"></span>

    <span class="pixel row30 column31 ice"></span>

    <span class="pixel row30 column32 ice"></span>

    <span class="pixel row30 column33 ice"></span>

    <span class="pixel row30 column34 ice"></span>
    <span class="pixel row30 column34 glare"></span>

    <span class="pixel row30 column35 outline"></span>

    <span class="pixel row30 column36 outline"></span>


    <!-- row 31 -->
    <span class="pixel row31 column9 outline"></span>

    <span class="pixel row31 column10 outline"></span>

    <span class="pixel row31 column11 ice"></span>

    <span class="pixel row31 column12 ice"></span>

    <span class="pixel row31 column13 ice"></span>

    <span class="pixel row31 column14 ice"></span>

    <span class="pixel row31 column15 ice"></span>

    <span class="pixel row31 column16 ice"></span>

    <span class="pixel row31 column17 ice"></span>

    <span class="pixel row31 column18 ice"></span>

    <span class="pixel row31 column19 ice"></span>

    <span class="pixel row31 column20 ice"></span>
    <span class="pixel row31 column20 glare"></span>

    <span class="pixel row31 column21 ice"></span>
    <span class="pixel row31 column21 glare"></span>

    <span class="pixel row31 column22 outline"></span>

    <span class="pixel row31 column23 outline"></span>

    <span class="pixel row31 column24 outline"></span>

    <span class="pixel row31 column25 ice"></span>

    <span class="pixel row31 column26 ice"></span>

    <span class="pixel row31 column27 ice"></span>

    <span class="pixel row31 column28 ice"></span>

    <span class="pixel row31 column29 ice"></span>

    <span class="pixel row31 column30 ice"></span>

    <span class="pixel row31 column31 ice"></span>

    <span class="pixel row31 column32 ice"></span>

    <span class="pixel row31 column33 ice"></span>

    <span class="pixel row31 column34 ice"></span>

    <span class="pixel row31 column35 ice"></span>
    <span class="pixel row31 column35 glare"></span>

    <span class="pixel row31 column36 outline"></span>

    <span class="pixel row31 column37 outline"></span>


    <!-- row 32 -->
    <span class="pixel row32 column8 outline"></span>

    <span class="pixel row32 column9 outline"></span>

    <span class="pixel row32 column10 ice"></span>

    <span class="pixel row32 column11 ice"></span>

    <span class="pixel row32 column12 ice"></span>

    <span class="pixel row32 column13 ice"></span>

    <span class="pixel row32 column14 ice"></span>

    <span class="pixel row32 column15 ice"></span>

    <span class="pixel row32 column16 ice"></span>
    <span class="pixel row32 column16 glare"></span>

    <span class="pixel row32 column17 ice"></span>
    <span class="pixel row32 column17 glare"></span>

    <span class="pixel row32 column18 outline"></span>

    <span class="pixel row32 column19 outline"></span>

    <span class="pixel row32 column20 outline"></span>

    <span class="pixel row32 column21 outline"></span>

    <span class="pixel row32 column22 outline"></span>

    <span class="pixel row32 column24 outline"></span>

    <span class="pixel row32 column25 outline"></span>

    <span class="pixel row32 column26 outline"></span>

    <span class="pixel row32 column27 outline"></span>

    <span class="pixel row32 column28 outline"></span>

    <span class="pixel row32 column29 ice"></span>

    <span class="pixel row32 column30 ice"></span>

    <span class="pixel row32 column31 ice"></span>

    <span class="pixel row32 column32 ice"></span>

    <span class="pixel row32 column33 ice"></span>

    <span class="pixel row32 column34 ice"></span>

    <span class="pixel row32 column35 ice"></span>

    <span class="pixel row32 column36 ice"></span>
    <span class="pixel row32 column36 glare"></span>

    <span class="pixel row32 column37 outline"></span>

    <span class="pixel row32 column38 outline"></span>


    <!-- row 33 -->
    <span class="pixel row33 column7 outline"></span>

    <span class="pixel row33 column8 outline"></span>

    <span class="pixel row33 column9 ice"></span>

    <span class="pixel row33 column10 ice"></span>

    <span class="pixel row33 column11 ice"></span>

    <span class="pixel row33 column12 ice"></span>
    <span class="pixel row33 column12 glare"></span>

    <span class="pixel row33 column13 ice"></span>
    <span class="pixel row33 column13 glare"></span>

    <span class="pixel row33 column14 outline"></span>

    <span class="pixel row33 column15 outline"></span>

    <span class="pixel row33 column16 outline"></span>

    <span class="pixel row33 column17 outline"></span>

    <span class="pixel row33 column18 outline"></span>

    <span class="pixel row33 column28 outline"></span>

    <span class="pixel row33 column29 outline"></span>

    <span class="pixel row33 column30 outline"></span>

    <span class="pixel row33 column31 outline"></span>

    <span class="pixel row33 column32 outline"></span>

    <span class="pixel row33 column33 ice"></span>

    <span class="pixel row33 column34 ice"></span>

    <span class="pixel row33 column35 ice"></span>

    <span class="pixel row33 column36 ice"></span>

    <span class="pixel row33 column37 ice"></span>
    <span class="pixel row33 column37 glare"></span>

    <span class="pixel row33 column38 outline"></span>

    <span class="pixel row33 column39 outline"></span>


    <!-- row 34 -->
    <span class="pixel row34 column6 outline"></span>

    <span class="pixel row34 column7 outline"></span>

    <span class="pixel row34 column8 ice"></span>
    <span class="pixel row34 column8 glare"></span>

    <span class="pixel row34 column9 ice"></span>
    <span class="pixel row34 column9 glare"></span>

    <span class="pixel row34 column10 outline"></span>

    <span class="pixel row34 column11 outline"></span>

    <span class="pixel row34 column12 outline"></span>

    <span class="pixel row34 column13 outline"></span>

    <span class="pixel row34 column14 outline"></span>

    <span class="pixel row34 column32 outline"></span>

    <span class="pixel row34 column33 outline"></span>

    <span class="pixel row34 column34 outline"></span>

    <span class="pixel row34 column35 outline"></span>

    <span class="pixel row34 column36 outline"></span>

    <span class="pixel row34 column37 ice"></span>

    <span class="pixel row34 column38 ice"></span>
    <span class="pixel row34 column38 glare"></span>

    <span class="pixel row34 column39 outline"></span>

    <span class="pixel row34 column40 outline"></span>


    <!-- row 35 -->
    <span class="pixel row35 column5 outline"></span>

    <span class="pixel row35 column6 outline"></span>

    <span class="pixel row35 column7 outline"></span>

    <span class="pixel row35 column8 outline"></span>

    <span class="pixel row35 column9 outline"></span>

    <span class="pixel row35 column10 outline"></span>

    <span class="pixel row35 column36 outline"></span>

    <span class="pixel row35 column37 outline"></span>

    <span class="pixel row35 column38 outline"></span>

    <span class="pixel row35 column39 outline"></span>

    <span class="pixel row35 column40 outline"></span>

    <span class="pixel row35 column41 outline"></span>
  
</div>