/* - COLORADO AVALANCHE - */
.coloradoavalanche {
    &.home {
        .uniform-light {
            background-color: #D8D8D8;
        }
        .uniform-medium {
            background-color: #3E7EAE;
        }
        .uniform-dark {
            background-color: #98012E;
        }
        .uniform-dark-alt {
            background-color: #3E7EAE;
        }
        .uniform-pants {
            background-color: #333; 
        }
        .uniform-helmet {
            background-color: #333; 
        }
    }
}