/* - NEW YORK RANGERS - */
.newyorkrangers {
    &.home {
        .uniform-light {
            background-color: #D8D8D8;
        }
        .uniform-medium {
            background-color: #D8D8D8;
        }
        .uniform-dark {
            background-color: #1360A1;
        }
        .uniform-dark-alt {
            background-color: #AC0F2B;
        }
        .uniform-pants {
            background-color: #AC0F2B; 
        }
        .uniform-helmet {
            background-color: #1360A1; 
        }
    }
}