<div class="main">
	<div class="heading">
	    <h3>Create your NHL '94 player</h3>
	</div>
	<div class="clear"></div>
	<div class="playerWrap">
		<star-under></star-under>
		<player-one></player-one>
		<number-and-position number="{{playerNumber}}" position="{{playerPosition}}"></number-and-position>
	</div>
	<div class="intro-text">
		<p>Fond memories of EA's NHL '94 fueled the creation of the player creator. This simple app lets you customize your own vintage NHL '94 player and save it as an image to use as your avatar for Twitter, Facebook or anywhere else you might want.</p>
		<p>"Stick tap" goes out to <a href="http://nhl94.com" target="_blank">nhl94.com</a> for providing official font and sprites from the original game.</p>
		<a class="btn btn-primary btn-next" ng-href="/#/playerType">Get Started <i class="icon-arrow-right"></i></a>
	</div>
</div>