<div class="main">
	<div class="heading">
	    <h3>About the NHL '94 Player Creator...</h3>
	</div>
	<div class="clear"></div>
	<div class="playerWrap">
		<star-under></star-under>
		<player-one></player-one>
		<number-and-position number="{{playerNumber}}" position="{{playerPosition}}"></number-and-position>
	</div>
	<div class="intro-text">
		<p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit. Aut, doloribus, placeat, aliquam consequuntur natus vel incidunt enim fugiat esse dolores similique asperiores consequatur!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, doloribus, placeat, aliquam consequuntur natus vel.</p>
		<a class="btn btn-primary btn-next" ng-href="/#/playerType">Get Started <i class="icon-arrow-right"></i></a>
	</div>
</div>