<!-- <div class="btn-group btn-group-vertical btn-steps">
	<a ng-href="/#" class="btn btn-primary"><i class="icon-home chiclet" title="Home"></i></a>
  	<a ng-href="/#/playerType" class="btn btn-primary"><i class="icon-user chiclet" title="Player Type"></i></a>
  	<a ng-href="/#/playerType/:playerType/teamSettings" class="btn btn-primary"><i class="icon-group chiclet" title="Team Settings"></i></a>
  	<a ng-href="/#" class="btn btn-primary"><i class="icon-wrench chiclet" title="Player Settings"></i></a>
  	<a ng-href="/#" class="btn btn-primary"><i class="icon-eye-open chiclet" title="Player Appearance"></i></a>
  	<a ng-href="/#" class="btn btn-primary"><i class="icon-download-alt chiclet" title="Download Player Image"></i></a>
</div> -->


<div class="btn-group btn-steps" ng-hide="isHome">
	<a ng-href="/#" class="btn btn-primary btn-mini"><i class="icon-fast-backward" title="Start Over"></i> Reset</a>
</div>